// Administration Menu styles.
.toolbar-menu-administration {

  // First Level Styling
  >ul {
    >li {
      position: relative;

      &>a {
        padding-left: 50px !important;
        padding-right: 12px !important;

        &::after {
          display: none;
        }

        &:before {
          content: " ";
          background-size: 20px;
          background-repeat: no-repeat;
          display: inline-block;
          position: absolute;
          margin: 0 8px;
          padding: 0;
          height: 20px;
          width: 20px;
          top: 8px;
          left: 12px;
        }
      }
    }
  }

  // Sub Menus
  .menu-item--expanded {
    position: relative;

    &>ul {
      display: none;
      position: absolute;
      left: 100%;
      margin: 0;
      top: 0;

      li {
        a {
          white-space: nowrap;

          &::before {
            display: none !important;
          }
        }
      }
    }

    &:hover {
      &>ul {
        &>li:first-child {
          &:before {
            border-right-color: $dark-bg !important;
          }

          &:hover {
            &::before {
              border-right-color: $dark-bg-hover !important;
            }
          }
        }
      }
    }

    &.hover-intent {

      @media (min-width: 768px) {
        &>ul {
          display: block;
          &>li:first-child {
            &:before {
              right: 100%;
              z-index: auto;
              top: 16px;
              border: solid transparent;
              content: " ";
              height: 0;
              width: 0;
              position: absolute;
              pointer-events: none;
              border-width: 8px;
              margin-top: -8px;
            }
          }
        }
      }
      @media (max-width:767px) {
        &.toolbar-fixed-help-item {
          &>ul {
            display: block;
            left: auto;
            top: 100%;
            width: 100%;
            overflow-wrap: break-word;
            overflow: hidden;
            a {
              white-space: normal;
            }
          }
          &~li {
            display: none;
          }
        }
      }
    }

    &.mobile-open {
      @media (max-width: 767px) {
        &>ul {
          display: block;
          position: relative;
          left: auto;
          right: auto;
        }
      }

      &>.seeds-expand-item {
        &:after {
          transform: rotate(0);
        }

        &:before {
          transform: rotate(-180deg);
          opacity: 0;
        }
      }
    }

    // Fixed icon on all sub pages.
    &.toolbar-fixed-help-item {
      position: fixed !important;
      z-index: auto;
      top: 0;
      left: -190px;
      transition: width $bar-transition, left $bar-transition, right $bar-transition;

      &>a {
        padding: 35px 25px;

        img {
          position: absolute;
          left: 0;
          right: 0;
          top: 0;
          bottom: 0;
          margin: 10px auto;
          max-width: 150px;
          max-height: 50px;
          width: auto;
          height: auto;
        }
      }
    }
  }

  .seeds-expand-item {
    width: 30px;
    height: 35px;
    position: absolute;
    transition: $expand-transition;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0 5px;
    box-sizing: content-box;

    &::before,
    &::after {
      content: ' ';
      display: inline-block;
      width: $expand-width;
      height: $expand-line;
      background: $dark-color;
      position: absolute;
      transition: $expand-transition;
      opacity: 1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }

    &::after {
      transform: rotate(90deg);
    }

    @media (min-width: 768px) {
      display: none;
    }
  }
}