.non-multilingual-wrapper .fieldset-wrapper > div {
  width: 45%;
  margin-right: 5%;
  display: inline-block;
}
.non-multilingual-wrapper .fieldset-wrapper > div:last-child {
  margin-right: 0;
}
.non-multilingual-wrapper .fieldset-wrapper > div input {
  width: 100%;
}
