table[id^="field-opening-hours-details-values"] > tbody > tr > td:nth-child(2) > div {
  display: inline-block;
  width: 24%;
}

table[id^="field-opening-hours-details-values"] > tbody > tr > td:nth-child(2) > div .form-select {
  width: 100%;
}

table[id^="field-field-collection-options-values"] > tbody > tr > td:nth-child(2) > div.form-wrapper,
table[id^="field-field-collection-options-values"] > tbody > tr > td:nth-child(2) > div.ajax-new-content > div {
  display: inline-block;
  width: 33%;
}

table[id^="field-field-collection-options-values"] > tbody > tr > td:nth-child(2) > div .form-select {
  width: 100%;
}

.field--name-field-down,
.field--name-field-background,
.field--name-field-background-2 {
  clear: both;
}

.field--name-field-background .form-item-field-background,
.field--name-field-background-2 .form-item-field-background-2 {
  margin: 0 !important;
  padding: 0px !important;
}

[dir="rtl"] .field--name-field-background .form-item-field-background{
  float: right;
}

.field--name-field-down .form-item.js-form-type-radio input[type="radio"] ,
.field--name-field-background .form-item.js-form-type-radio input[type="radio"],
.field--name-field-background-2 .form-item.js-form-type-radio input[type="radio"] {
  display: none;
}

.field--name-field-down .form-item.js-form-type-radio label.option,
.field--name-field-background .form-item.js-form-type-radio label.option,
.field--name-field-background-2 .form-item.js-form-type-radio label.option {
  text-align: center;
  line-height: 42px;
  width: 40px;
  height: 40px;
  float: left;
  display: block;
  border: 1px solid #000;
  margin: 1px;
  overflow: hidden;
}

.field--name-field-down .form-item.js-form-type-radio label.option img,
.field--name-field-background .form-item.js-form-type-radio label.option img,
.field--name-field-background-2 .form-item.js-form-type-radio label.option img {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  display: block;
}

.field--name-field-down .form-item.js-form-type-radio input[type="radio"]:checked ~ label,
.field--name-field-background .form-item.js-form-type-radio input[type="radio"]:checked ~ label,
.field--name-field-background-2 .form-item.js-form-type-radio input[type="radio"]:checked ~ label,
.field--name-field-down .form-item.js-form-type-radio input[type="radio"]:hover ~ label,
.field--name-field-background .form-item.js-form-type-radio input[type="radio"]:hover ~ label,
.field--name-field-background-2 .form-item.js-form-type-radio input[type="radio"]:hover ~ label,
.field--name-field-down .form-item.js-form-type-radio input[type="radio"]:active ~ label,
.field--name-field-background .form-item.js-form-type-radio input[type="radio"]:active ~ label,
.field--name-field-background-2 .form-item.js-form-type-radio input[type="radio"]:active ~ label,
.field--name-field-down .form-item.js-form-type-radio input[type="radio"]:focus ~ label,
.field--name-field-background .form-item.js-form-type-radio input[type="radio"]:focus ~ label,
.field--name-field-background-2 .form-item.js-form-type-radio input[type="radio"]:focus ~ label {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}

.adminimal-admin-toolbar .node-events-form #edit-field-date-0 .container-inline, h4,
.adminimal-admin-toolbar .node-events-edit-form #edit-field-date-0 .container-inline, h4 {
  float: left;
}
.adminimal-admin-toolbar .node-events-form #edit-field-date-0 h4:nth-child(3),
.adminimal-admin-toolbar .node-events-edit-form #edit-field-date-0 h4:nth-child(3) {
  display: none;
}

.adminimal-admin-toolbar .node-events-form #edit-field-date-0-end-value-date,
.adminimal-admin-toolbar .node-events-edit-form #edit-field-date-0-end-value-date {
  display: none;
}

.adminimal #edit-field-avatar .form-item-field-avatar {
  display: inline-block;
  margin-right: 10px;
  margin-left: 10px;
}
.adminimal #edit-field-avatar .form-item-field-avatar input {
  display: block;
  margin: 15px auto;
}

.adminimal-admin-toolbar .node-events-form #edit-field-date-multiple-wrapper .form-type-date,
.adminimal-admin-toolbar .node-events-edit-form #edit-field-date-multiple-wrapper .form-type-date,
.adminimal-admin-toolbar .node-events-form #edit-field-date-multiple-wrapper h4.label,
.adminimal-admin-toolbar .node-events-edit-form #edit-field-date-multiple-wrapper h4.label,
.adminimal-admin-toolbar .node-treasure-hunt-form #edit-field-date-wrapper .form-type-date,
.adminimal-admin-toolbar .node-treasure-hunt-edit-form #edit-field-date-wrapper .form-type-date,
.adminimal-admin-toolbar .node-treasure-hunt-form #edit-field-date-wrapper h4.label,
.adminimal-admin-toolbar .node-treasure-hunt-edit-form #edit-field-date-wrapper h4.label,
.adminimal-admin-toolbar .gamification-form #edit-created-wrapper h4.label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
}

.adminimal-admin-toolbar .node-events-form #edit-field-date-multiple-wrapper h4.label,
.adminimal-admin-toolbar .node-events-edit-form #edit-field-date-multiple-wrapper h4.label,
.adminimal-admin-toolbar .node-treasure-hunt-form #edit-field-date-wrapper h4.label,
.adminimal-admin-toolbar .node-treasure-hunt-edit-form #edit-field-date-wrapper h4.labelm
.adminimal-admin-toolbar .gamification-form #edit-created-wrapper h4.label {
  font-size: 16px;
}

.adminimal-admin-toolbar .node-events-form #edit-field-date-multiple-wrapper h4.label:last-of-type,
.adminimal-admin-toolbar .node-events-edit-form #edit-field-date-multiple-wrapper h4.label:last-of-type,
.adminimal-admin-toolbar .node-treasure-hunt-form #edit-field-date-wrapper h4.label:last-of-type,
.adminimal-admin-toolbar .node-treasure-hunt-edit-form #edit-field-date-wrapper h4.label:last-of-type,
.adminimal-admin-toolbar .gamification-form #edit-created-wrapper h4.label:last-of-type {
  margin-top: 15px;
}

.adminimal-admin-toolbar .node-events-form #edit-field-date-multiple-wrapper label.visually-hidden,
.adminimal-admin-toolbar .node-events-edit-form #edit-field-date-multiple-wrapper label.visually-hidden,
.adminimal-admin-toolbar .node-treasure-hunt-form #edit-field-date-wrapper label.visually-hidden,
.adminimal-admin-toolbar .node-treasure-hunt-edit-form #edit-field-date-wrapper label.visually-hidden,
.adminimal-admin-toolbar .gamification-form #edit-created-wrapper label.visually-hidden {
  position: relative !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: visible;
  height: auto;
  width: 100%;
  word-wrap: initial;
}

.adminimal-admin-toolbar .node-events-form #edit-field-date-multiple-wrapper label.visually-hidden::after,
.adminimal-admin-toolbar .node-events-edit-form #edit-field-date-multiple-wrapper label.visually-hidden::after,
.adminimal-admin-toolbar .node-treasure-hunt-form #edit-field-date-wrapper label.visually-hidden::after,
.adminimal-admin-toolbar .node-treasure-hunt-edit-form #edit-field-date-wrapper label.visually-hidden::after,
.adminimal-admin-toolbar .gamification-form #edit-created-wrapper label.visually-hidden::after {
  display: none;
  content: '';
}

.adminimal-admin-toolbar .gamification-form #edit-created-wrapper .description {
  display: none;
}

.adminimal-admin-toolbar .form-item-field-hints-form-inline-entity-form-field-message-ar-0-value textarea {
  direction: rtl;
}

.toolbar-menu-administration > ul.toolbar-menu > li.menu-item--expanded > ul.toolbar-menu > li.menu-item--expanded > ul.toolbar-menu {
  overflow-y: auto;
  height: auto;
  max-height: 500px;
}

.toolbar-menu-administration > ul.toolbar-menu > li.menu-item--expanded > ul.toolbar-menu > li.menu-item--expanded
> ul.toolbar-menu  > li.menu-item--expanded:after {
  content: '';
}

.toolbar-menu-administration > ul.toolbar-menu > li.menu-item--expanded > ul.toolbar-menu > li.menu-item--expanded
> ul.toolbar-menu  > li.menu-item--expanded > ul.toolbar-menu{
  display: none !important;
}




#field-date-multiple-values .fieldset-wrapper,
#edit-group-basic-information .fieldset-wrapper{
  position: relative;
}

#field-date-multiple-values .fieldset-wrapper .container-inline [class*="value-date"],
#edit-group-basic-information .fieldset-wrapper .container-inline [class*="value-date"] {
  margin-bottom: 25px;
}

#field-date-multiple-values .fieldset-wrapper .container-inline [class*="value-date"]:after,
#edit-group-basic-information .fieldset-wrapper .container-inline [class*="value-date"]:after{
  content: "Start date";
  float: left;
  margin: 7px;
  min-width: 65px;
  font-size: 14px;
}

#field-date-multiple-values .fieldset-wrapper .container-inline [class*="value-time"],
#edit-group-basic-information .fieldset-wrapper .container-inline [class*="value-time"]{
  position: absolute;
  bottom: 25px;
  width: auto;
}

#field-date-multiple-values .fieldset-wrapper .container-inline [class*="value-time"]:after,
#edit-group-basic-information .fieldset-wrapper .container-inline [class*="value-time"]:after {
  content: "Start time";
  float: left;
  margin: 7px;
  min-width: 65px;
  font-size: 14px;
}

#field-date-multiple-values .fieldset-wrapper .container-inline .form-item label,
#edit-group-basic-information .fieldset-wrapper .container-inline .form-item label{
  display: none;
}

#field-date-multiple-values .fieldset-wrapper .container-inline [class*="end-value-date"],
#edit-group-basic-information .fieldset-wrapper .container-inline [class*="end-value-date"]{
  position: absolute;
  top: 35px;
  left: 0;
  width: auto;
}

#field-date-multiple-values .fieldset-wrapper .container-inline [class*="end-value-date"]:after,
#edit-group-basic-information .fieldset-wrapper .container-inline [class*="end-value-date"]:after{
  content: "End date";
  float: left;
  margin: 7px;
  min-width: 65px;
  font-size: 14px;
}

#field-date-multiple-values .fieldset-wrapper .container-inline [class*="end-value-time"],
#edit-group-basic-information .fieldset-wrapper .container-inline [class*="end-value-time"]{
  padding-top: 85px;
  position: static;
}

#field-date-multiple-values .fieldset-wrapper .container-inline [class*="end-value-time"]:after,
#edit-group-basic-information .fieldset-wrapper .container-inline [class*="end-value-time"]:after{
  content: "End time";
  float: left;
  margin: 7px;
  min-width: 65px;
  font-size: 14px;
}

#field-date-multiple-values .fieldset-wrapper  h4.label,
#edit-group-basic-information .fieldset-wrapper  h4.label{
  display: none !important;
}

@media (max-width: 500px){
  #field-date-multiple-values .fieldset-wrapper .container-inline [class*="end-value-date"],
  #edit-group-basic-information .fieldset-wrapper .container-inline [class*="end-value-date"]{
    top: 60px;
  }

  #field-date-multiple-values .fieldset-wrapper .container-inline [class*="end-value-time"],
  #edit-group-basic-information .fieldset-wrapper .container-inline [class*="end-value-time"]{
    padding-top: 130px;
  }

  #field-date-multiple-values .fieldset-wrapper .container-inline [class*="value-date"]:after, [class*="value-time"]:after,
  [class*="end-value-date"]:after, [class*="end-value-time"]:after,
  #edit-group-basic-information .fieldset-wrapper .container-inline [class*="value-date"]:after, [class*="value-time"]:after,
  [class*="end-value-date"]:after, [class*="end-value-time"]:after{
    margin: 0px;
  }
}