{% if content_links is not empty %}
    <h2 class="seeds-heading">{{content_collection}}</h2>
    {{content_links}}
{% endif %}
{% if taxonomy_links is not empty %}
    <h2 class="seeds-heading">{{taxonomy_collection}}</h2>
    {{taxonomy_links}}
{% endif %}
{% if block_links is not empty %}
    <h2 class="seeds-heading">{{block_collection}}</h2>
    {{block_links}}
{% endif %}
