.node--type-attraction.node--view-mode-teaser{
  .field--name-node-title h2 {
    margin-top: 35px;
    margin-bottom: 20px;
  }
  .field--name-field-svg-icon {
    margin: 30px 0 30px 16px;
  }
}

@media(max-width:1200px) {
  .node--type-attraction {
    &.node--view-mode-teaser {  
      .field--name-field-svg-icon  {
        float: right;
        margin: 30px 10px 0px 16px;
      }
      .field--name-node-title h2 {
        margin-top: 36px;
      }
    }
  }
}

@media(max-width: 767px) {
  .node--type-attraction.node--view-mode-teaser{
    .field--name-node-title h2 {
      margin-top: 15px;
    }
    .field--name-field-svg-icon {
      margin-bottom: 0;
      margin-top: 17px;
    }
  }
}

//front blocks
.block-views {
  &.block-views-blockevents-front-events,
  &.block-views-blockexperiences-front-experiences,
  &.block-views-blockcategory-front-category,
  &.block-views-blockattractions-front,
  &.block-views-blocksocial-feeds-latest-social-posts {
    h2.block-title {
      span {
        position: unset;
        bottom: 0;
      }
    }
  }
}





