//Search Page 
#block-exposedformsearchsearch-2 {
  form {
    #edit-type {
      .radio{
        margin-right: 0;
        margin-left: 30px;

        label{
          input[type="radio"]{
            margin-right: 0;
            margin-left: 5px;
          }
          span{
            float: right;
            margin-left: 5px;
            margin-right: 0;
          }
        }
      }
    }

    .form-item {
      &.form-item-title  {
        .form-control {
          padding-right: 12px;
          padding-left: 56px;
        }
      }
    }

    .form-actions {
      button {
        left: 0;
        right: auto;
        border-radius: 5px;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
      }
    }
  }
}

//Tout
.popover.tour {
  font-family: 'Cairo', sans-serif;
  .popover-navigation {
    *[data-role="end"] {
      float: right;
    }
  }
}

.path-frontpage {
  .block-views {
    &.block-views-blockevents-front-events,
    &.block-views-blockexperiences-front-experiences,
    &.block-views-blockcategory-front-category,
    &.block-views-blockattractions-front,
    &.block-views-blocksocial-feeds-latest-social-posts {
      h2.block-title {
        background-position: right center;
        padding-right: 80px;
        padding-left: 0;
        font-family: 'Lalezar', cursive;

        @media(max-width: 767px) {
          padding-right: 65px;
        }
      }
    }
  }

  .block-views-blockexperiences-front-experiences{
    .view-experiences{
      .view-content{
        .views-row{
          float: right;
        }
      }
    }
  }
}

.more-link.form-group {
  left: 0;
  right: auto;
  background-image: url(../images/see-all-ar.svg);
}

.bef-exposed-form {
  .form--inline{
    > .form-item {
      float: right;
    }
  }
}

.node--type-closing-hours {
  &.node--view-mode-teaser {
    .field--name-node-title {
      h2 {
        font-size: 30px;
        margin-top: 30px;
      }
    }
  }
}

//NewsLetter 
.mailchimp-signup-subscribe-form {
  .form-actions {
    text-align: left;
    button:after {
      left: 0;
      right: auto;
    }
  }
}

//Polls 
.poll .vote-form {
  text-align: right;
}

.view-polls {
  &.view-display-id-latest_poll {
    form {
      .poll-question {
        margin-top: 0;
        font-weight: normal;
        font-size: 20px;
      }

      .radio {
        label {
          padding-right: 30px;
          padding-left: 0;
        }

        input {
          &[type="radio"] {
            margin-right: -30px;
            margin-left: 0;
          }
        }
      }

      .form-actions {
        text-align: left;
        button:after {
          left: 0;
          right: auto;
        }
      }
    }
  }
}

//Event
.node--type-events {
  &.node--view-mode-front {
    .extra-field-date {
      float: right;
    }

    .field--name-node-title {
      float: left;

      h2 {
        margin-right: 20px;
        margin-left: 0;
      }
    }

    .extra-field-date-time {
      float: left;
      .extra-field-date-time-wrapper {
        margin: 0 20px 10px 0;
      }
    }

  }
}

//Social Feeds
.view-social-feeds.view-display-id-latest_social_posts > .view-content .node--type-sfa-social-post.node--view-mode-teaser:after, .view-social-feeds.view-display-id-latest_social_posts .attachment-after .node--type-sfa-social-post.node--view-mode-teaser:after {
  right: unset;
  left: 0;
}

.node--type-sfa-social-post {
  &.node--view-mode-teaser {
    .field--name-field-icon {
      float: right;
      margin-left: 15px;
      margin-right: 0;
    }
  }
}

//Feedback form
.contact-us-page .field--name-body{
  h3{
    font-family: 'Cairo', sans-serif;
  }
}

.page-with-form .lh-row-11 {
  h2.block-title {
    .make-sm-column(4);
  }

  #webform-submission-szdlc-node-174-add-form {
    .make-sm-column(8);
  }
  form {
    .form-item {
      > div, > input {
        float: left;
      }
    }
    .select-wrapper:after{
      padding-left: .5em;
      right: unset;
      left: 0;
    }

    .form-actions {
      .btn {
        float: left;
      }
    }
  }
}

//Experiences
.page-node-type-experience {
  .lh-row-7{
    .field--label-inline{  
      .field--label {
        float: right;
      }

      &.field--name-field-text {
        float: right;
      }

      &.field--name-field-number {
        float: left;
      }
    }
  }
}

.node--type-experience { 
  &.node--view-mode-visit-plan {
    .field--name-field-icon,
    .field--name-node-title {
      float: right;
    }
    .field--name-field-icon {
      margin-left: 20px;
      margin-right: 0;
    }
  } 
}
//Testimonials
.node--type-testimonials {
  &.node--view-mode-teaser {
    .field--name-node-title {
      h2 {
        .title-font();
      }
    }

    .field--name-field-image {
      img{
        float: left;
      }
    }
  }
}

#sitemap-page {
  .block-region-row-1 {
    .navbar-nav {
      li {
        a {
          &.dropdown-toggle {
            .fa {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px){
  #block-exposedformsearchsearch-2 form #edit-type .radio input[type="radio"] {
    position: relative;
    margin: 0;
    margin-left: 5px;
  }

  .path-search {
    header.navbar-default {
      .mobile-header {
        .region-mobile-header {
          #block-callus-2 {
            .field--name-body {
              border-left: 0;
              border-right: 1px solid #FFF;
            }
          }
        }
      }
    }
  }

  .view-polls {
    &.view-display-id-latest_poll {
      .form-actions {
        button {
          float: left;
        }
      }
    }
  }

  .more-link.form-group {
    margin: 0 auto 0 0;
  }

  //Experiences
  .page-node-type-experience {
    .lh-row-7{
      .field--label-inline{
        &.field--name-field-text {
          float: none;
        }
        &.field--name-field-number {
          float: none;
        }
      }
    }
  }

  .node--type-testimonials {
    &.node--view-mode-teaser { 
      .field--name-field-image {
        float: right;
        img{
          float: none;
          margin-right: 0px;
          margin-left: 20px;
        }
      }
    }
  }
}