//front
.path-frontpage {
  h2.block-title {
    .title-font();
  }

  .more-link.form-group a{
    .title-font();
  }
}

//animals
.page-node-type-animals {
  .lh-row-1 {
    .field--name-node-title {
      h2 {
        .title-font();
      }
    }
  }

  .field--name-dynamic-block-fieldnode-related-animals, .field--name-dynamic-block-fieldnode-related-experiences {
    .field--label {
      .title-font();
    }
  }
}

.view-animals {
  &.view-display-id-animals_page {
    .views-field-title a{
      .title-font();
    }
    .group-wrapper {
      .animals-group-title {
        .block-title{
          a {
            .title-font();
          }
        }
      }
    }
  }
}

.ticket-landing-page {
  .online-ticket, .admission-tickets {
    .title-font();
  }
}

.view-opening-hours {
  &.view-display-id-landing_page,&.view-display-id-tickets_landing_page {
    .views-field-title {
      .title-font();
    }
  }
}

//Front Animals
//Category
.taxonomy-term--type-categories {
  &.taxonomy-term--view-mode-front {
    .field--name-taxonomy-term-title {
      h2 {
        a {
          .title-font();
        }
      }
    }
  }
}

//Front Attraction
.view-attractions {
  &.view-display-id-front {
    .views-row {
      &:nth-child(1) {
        .field--name-node-title {
          h2 {
            .title-font();
          }
        }
      }

      &:nth-child(2) {
        .field--name-node-title {
          h2 {
            .title-font();
          }
        }
      }
    }
  }
}

//Attraction
.page-node-type-attraction {
  .field--name-dynamic-block-fieldnode-experience-tours {
    .field--label {
      .title-font();
    }
  }
}

//Contact us and forms
.page-with-form {
  .lh-row-11 {
    .lh-sidebar {
      h2, .field--name-dynamic-block-fieldnode-enquire {
        .title-font();
      }
    }
    h2.block-title {
      .title-font();
    }
  }
}

//Experiance
.page-node-type-experience {
  .main-container {
    .field--name-node-title {
      h1 {
        .title-font();
      }
    }
  }
}

.node--type-experience {
  &.node--view-mode-one-third, &.node--view-mode-one-third-square-2 {
    .field--name-node-title {
      h2 {
        a {
          .title-font();
        }
      }
    }
  }

  &.node--view-mode-one-third-vertical {
    .field--name-node-title {
      h2 {
        a {
          .title-font();
        }
      }
    }
  }
}

//header
.navbar-collapse .navbar-nav > li > a{
  .title-font();
}

header.navbar-default {
  .navbar-header{
    .block-language .links li a{
      .title-font();
    }

    .region-navigation{
      #block-callus .field--name-body .call-us div,
      #block-booktickets .field--name-body a {
        .title-font();
      }

      #block-usermenu .menu li a{
        .title-font();
      }

      .block-views-exposed-filter-blocksearch-search form .form-item.form-item-type
      .select-wrapper select{
        .title-font();
      }
    }
  }

  .page-banner {
    .header-half-image {
      .header-half-title {
        .header-title-wrapper {
          h1, span {
            .title-font();
          }
        }
      }
    }

    .header-full-image {
      .header-full-title {
        h1, span{
          .title-font();
        }
      }
    }

    //contact us
    .header-background {
      h1, span {
        .title-font();
        text-transform: uppercase;
      }
    }
  }
}

.breadcrumbs-wrapper .breadcrumb{
  .breadcrumb-menu a{
    .title-font();
  }

  li.active, li a{
    .title-font();
  }
}

//Paragraph Fields
.field--name-field-grid {
  .paragraph {
    h2, .field--name-field-link a {
      .title-font();
    }
  }
}

//opening, closing
.node--type-closing-hours, .node--type-opening-hours {
  &.node--view-mode-teaser {
    .field--name-node-title {
      h2 {
        .title-font();
      }
    }
  }
}

// Plan your visit.
.node-visit-plan-form {
  // Labels.
  span.fieldset-legend,
  .field--name-title label {
    .title-font();
  }

  // Choose your day.
  .field--name-field-visit-date {
    label {
      .title-font();
    }
  }

  #edit-field-plan,
  #edit-field-what-s-new,
  #edit-field-animal .animals-slider .slick-list {
    .form-item {
      label {
        .views-field-title{
          .title-font();
        }

        &[for="edit-field-plan-none"] {
          .title-font();
        }
      }
    }
  }

  // Attractions.
  #edit-field-attraction-wrapper {
    #edit-field-attraction {
      .form-item {
        label {
          > span {
            &.views-field-title {
              .title-font();
            }
          }
        }
      }
    }
  }

  #edit-field-experience-reference-wrapper #edit-field-experience-reference{
    .form-item label > span.views-field-title{
      .title-font();
    }
  } 
}

.node--type-visit-plan.node--view-mode-full {
  .visit-item-wrapper {
    .visit-label {
      .title-font();
    }
  }
}

//footer
footer.footer{
  .footer-bottom .menu li a{
    .title-font();
  }

  #block-footer h2, #block-sociallinks h2{
    .title-font();
  }

  .block-views-blockpartners-front-partners h2.block-title{
    .title-font();
  }
}


//whats new
.node--type-special-occasion.node--view-mode-teaser .field--name-node-title h2 {
  .title-font();     
}

//Event
.page-node-type-events {
  .field--name-node-title h2 {
    .title-font(); 
  }

  .field--name-dynamic-block-fieldnode-suggested-events {
    .field--label {
      .title-font(); 
    }
  }
}

.node--type-events.node--view-mode-teaser .field--name-node-title h2 {
  .title-font(); 
}

//special occasions
.page-node-type-special-occasion .field--name-node-title h2 {
  .title-font(); 
}

.node--type-special-occasion.node--view-mode-teaser{
  .field--name-node-title h2, .field--name-dynamic-token-fieldnode-enquire-link{
    .title-font();
  }
}

//Educations
.page-node-type-educations .field--name-node-title h2 {
  .title-font(); 
}

//services
.page-node-type-visitor-services .field--name-node-title h2{
  .title-font();
}

.node--type-visitor-services .field--name-node-title h2, .field--name-node-link a{
  .title-font();
}

//contact us
.contact-us-page .field--name-body h2{
  .title-font();
}

//conservation

.page-node-type-conservation .field--name-node-title h2{
  .title-font();
}

.field--name-body {
  h1, h2, h3, h4, h5, h6 {
    .title-font();
  }
}