footer.footer {
	.block-views-blockpartners-front-partners {
		.view-display-id-front_partners {
			.views-row {
				float: right;
			}
		}
	}

	#block-sociallinks {
	 	.menu {
	 		li {
	 			&:first-child {
	 				margin-right: 0;
	 				margin-left:  15px;
	 			}
	 		}
	 	}
	}

	#block-footer {
		.menu {
			padding-left: 0;
			padding-right: 25px;
		}
	}

	.footer-bottom {
		.menu {
			li {
				&:after {
					left: -5px;
					right: auto;
				}
			}
		}
	}
}

@media (max-width: 845px) {
	footer.footer {
		#block-sociallinks {
			.menu {
				li {
					margin-right: 0;
					margin-left: 15px;
				}
			}
		}
	}
}