body{ 
  font-family: 'Cairo', sans-serif;

  a {
    &:active, &:hover {
      text-decoration: none;
    }
  }
}

.ticket-landing-page {
  .admission-tickets {
    line-height: 1;
  }
}

//form
form {
  .form-actions {
    .btn {
      margin: 20px 0 0;

      &.icon-before {
        .glyphicon {
          margin-right: -0.25em;
          margin-left: .25em;
        }
      }
    }
  }
}

.block-views-blockfaqs-faqs-page .view-faqs .form--inline {
  .form-item input {
    padding-left: 70px;
    padding-right: 12px;
  }
  .form-actions {
    position: absolute;
    left: 0;
    right: unset;

    button:before {
      content: "\e003";
      font-size: 25px;
      font-family: 'Glyphicons Halflings';
    }
  }
}

.view-id-attractions {
  &.view-display-id-front {
    margin-left: 0px;
    margin-right: 0px;
  }
}

.field--name-add-to-plan {
  a.add-to-plan {
    padding: 15px 60px 15px 50px;
    &:before {
      right: 20px;
      left: auto;
    }
  }
}

.field--name-remove-from-plan {
  a.remove-from-plan {
    padding: 15px 60px 15px 50px;
    &:before {
      right: 20px;
      left: auto;
    }
  }
}

.field--name-view-on-map {
  a.view-on-map {
    padding: 15px 80px 15px 30px;
    &:before { 
      right: 10px;
      left: auto;
    }
  }
}

//Map Keys
.node--type-map-key {
  &.node--view-mode-teaser {
    .field--name-field-icon {
      float: right;
      margin-left: 10px;
      margin-right: 0;
    }
  }
}

@media(max-width: 400px) {
  .field--name-add-to-plan {
    a.add-to-plan {
      padding: 15px 40px 15px 30px;
      &:before {
        right: 10px;
      }
    }
  }

  .field--name-remove-from-plan {
    a.remove-from-plan {
      padding: 15px 40px 15px 30px;
      &:before {
        right: 10px;
      }
    }
  }
}

// Voteform
.vote-form {
  .form-type-select {
    float: right;
  }
}

.block-views-blockfaqs-faqs-page {
  .view-faqs{
    .form--inline{
      .form-item{
        input{
          padding-left: 70px;
          padding-right: auto;
        }
      }

      .form-actions{
        left: 0;
        right: auto;
      }

    }

    .group-wrapper{
      .accordion-title{
        h3{
          &:before {
            content: "\f100";
            margin: 0 0 0 5px;
          }
        }
      }
      .accordion-wrapper {
        .views-row{
          .views-field-title{
            .field-content{
              &:before{
                content: "\f29c";
                margin: 0 0 0 3px;
                transform:rotateY(180deg);
              }
            }
          }
        }
      }
    }
  }
}

.block-socialfeed {
  ul {
    &::after {
      right: auto;
      left: 0;
    }
   }
}

.block-region-row-12 {
  .field--name-body {
    h2 {
      font-size: 50px;
      font-family: 'Lalezar',cursive;
      &::before {
        display: none;
      }
      &::after {
        content: '';
        background-image: url(../images/social-icon.svg);
        background-repeat: no-repeat;
        background-size: 60px 60px;
        padding-right: 80px;
        padding-left: 10px;
      }
    }
  }
}