.template-right-image {
  float: left !important;
}

.field--name-field-grid {
  .paragraph {
    .field--name-field-icon{
      margin-left: 16px;
      margin-right: 0;
    }
    .field--name-field-link {
      text-align: left;
    }
  } 
}

.template-right-image, .template-left-image {
  img {
    right: auto;
    left: 0;
  }
}

.template-left-image {
  img {
    right: 0;
    left: auto;
  }
}

//Taps Paragraph
.paragraph--type--tabs {
  .nav-tabs {
    float: right;
    border: 0;
    border-left: 5px solid @brown;
  }

  .tab-content {
    float: right;
    padding-left: 0;
    padding-right: 50px;
  }
}

@media(min-width: 1200px) {
  .template-right-image, .template-left-image {
    min-height: 480px;
    img {
      max-height: 480px;
    }
  }
}
@media(max-width: 1200px) and (min-width:992px) {
  .template-right-image, .template-left-image {
    min-height: 430px;
    img {
      max-height: 430px;
    }
  }
}

@media(max-width:767px){
  .template-right-image, .template-left-image {
    padding: 0;
  }

  //Taps Paragraph
  .paragraph--type--tabs {
    .nav-tabs {
      li {
        float: right;
      }
    }

    .tab-content {
      padding-right: 0px;
    }
  }
}