.add-member-wrapper {
  .form-control {
    padding-left: 2em;
    padding-right: 20px !important;
  }
  .form-item {
    &:after {
      left: auto;
      right: 10px;
    }
  }
}

.path-user.user-logged-in {
  .user-info-edit {
    right: auto;
    left: 0;
  }
  .user-info-wrapper {
    .user-info-left {
      img {
        margin-right: 0;
        margin-left: 30px;
      }
    }
    .user-info-right {
      .user-details-item {
        margin-left: 30px;
        margin-right:0;
        &:before {
          margin-right: 0px;
          margin-left: 10px;
          float: right;
        }

        &.user-details-mobile {
          &:before {
            transform: rotate(270deg);
          }
        }
      }
    }
  }

  .field--name-dynamic-block-fielduser-user-family-members {
    form{
      #added-members-container {
        padding-right: 4%;
        padding-left: 0;
      }

      .add-member-wrapper{
        .select-wrapper{
          select{
            padding-right: 12px;
          }

          &:after {
            right: unset;
            padding-left: .5em;
            left: 0;
          }
        }
      }
    }
  }
}
