{#
/**
 * @file gamification.html.twig
 * Default theme implementation to present Gamification data.
 *
 * This template is used when viewing Gamification pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_gamification()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('gamification') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
