<div {{ attributes.setAttribute('id', settings.wrapper_id).addClass(settings.wrapper_classes) }}>

  {% if content.row_1|render is not empty %}
    <div class="lh-row-1">
      <div class="{{settings.row_1}}">
        {{ content.row_1 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_2|render is not empty %}
    <div class="lh-row-2">
      <div class="{{settings.row_2}}">
        {{ content.row_2 }}
      </div>
    </div>
  {% endif %}


  {% if content.row_3_half_1 or content.row_3_half_2 %}
    <div class="lh-6-6-col-wrapper lh-row-3">
      <div class="container">
        <div class="row">
          {% if content.row_3_half_1 %}
            <div class="col-sm-6 lh-half-1">
              {{ content.row_3_half_1 }}
            </div>
          {% endif %}
          {% if content.row_3_half_2 %}
            <div class="col-sm-6 lh-half-2">
              {{ content.row_3_half_2 }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.row_4|render is not empty %}
    <div class="lh-row-4">
      <div class="{{settings.row_4}}">
        {{ content.row_4 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_5_content or content.row_5_sidebar %}
    <div class="lh-9-3-col-wrapper lh-row-5">
      <div class="container">
        <div class="row">
          {% if content.row_5_content %}
            <div class="lh-content col-sm-9">
              {{ content.row_5_content }}
            </div>
          {% endif %}
          {% if content.row_5_sidebar %}
            <div class="lh-sidebar col-sm-3">
              {{ content.row_5_sidebar }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.row_6_content or content.row_6_col_1 or content.row_6_col_2 or row_6_col_1 or content.row_6_sidebar %}
    <div class="lh-3-3-3-col-wrapper lh-row-6 ">
      <div class="container">
        <div class="row">
          {% if content.row_6_content or content.row_6_col_1 or content.row_6_col_2 %}
            <div class="lh-content col-sm-8">
              {% if content.row_6_content %}
                {{ content.row_6_content }}
                <div class="panel-separator"></div>
              {% endif %}

              <div class="row">
                <div class="lh-col-1 col-sm-6">
                  {% if content.row_6_col_1 %}
                    {{ content.row_6_col_1 }}
                    <div class="panel-separator"></div>
                  {% endif %}
                </div>
                <div class="lh-col-2 col-sm-6">
                  {% if content.row_6_col_2 %}
                    {{ content.row_6_col_2 }}
                    <div class="panel-separator"></div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
          {% if content.row_6_sidebar %}
            <div class="lh-col-3 lh-sidebar col-sm-4">
              {{ content.row_6_sidebar }}
            </div>
          {% endif %}
          {% if content.row_6_content and content.row_6_col_1 and content.row_6_col_2 and content.row_6_col_3 %}
            <div class="col-sm-4">
              {% if content.row_6_col_1 %}
                {{ content.row_6_col_1 }}
                <div class="panel-separator"></div>
              {% endif %}
            </div>
            <div class="col-sm-4">
              {% if content.row_6_col_2 %}
                {{ content.row_6_col_2 }}
                <div class="panel-separator"></div>
              {% endif %}
            </div>
            <div class="col-sm-4">
              {% if content.row_6_col_3 %}
                {{ content.row_6_col_3 }}
                <div class="panel-separator"></div>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.row_7|render is not empty %}
    <div class="lh-row-7">
      <div class="{{settings.row_7}}">
        {{ content.row_7 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_8_half_1 or content.row_8_half_2 %}
    <div class="lh-6-6-col-wrapper lh-row-8">
      <div class="container">
        <div class="row">
          {% if content.row_8_half_1 %}
            <div class="col-sm-6 lh-half-1">
              {{ content.row_8_half_1 }}
            </div>
          {% endif %}
          {% if content.row_8_half_2 %}
            <div class="col-sm-6 lh-half-2">
              {{ content.row_8_half_2 }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.row_9|render is not empty %}
    <div class="lh-row-9">
      <div class="{{settings.row_9}}">
        {{ content.row_9 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_10_content or content.row_10_sidebar %}
    <div class="lh-3-9-col-wrapper lh-row-10">
      <div class="container">
        <div class="row">
          {% if content.row_10_sidebar %}
            <div class="lh-sidebar col-sm-3">
              {{ content.row_10_sidebar }}
            </div>
          {% endif %}
          {% if content.row_10_content %}
            <div class="lh-content col-sm-9">
              {{ content.row_10_content }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.row_11_content or content.row_11_col_1 or content.row_11_col_2 or content.row_11_sidebar %}
    <div class="lh-3-3-3-col-wrapper lh-row-11 ">
      <div class="container">
        <div class="row">
          {% if content.row_11_sidebar %}
            <div class="lh-col-3 lh-sidebar col-sm-4">
              {{ content.row_11_sidebar }}
            </div>
          {% endif %}
          {% if content.row_11_content or content.row_11_col_1 or content.row_11_col_2 %}
            <div class="lh-content col-sm-8">
              {% if content.row_11_content %}
                {{ content.row_11_content }}
                <div class="panel-separator"></div>
              {% endif %}

              <div class="row">
                <div class="lh-col-1 col-sm-6">
                  {% if content.row_11_col_1 %}
                    {{ content.row_11_col_1 }}
                    <div class="panel-separator"></div>
                  {% endif %}
                </div>
                <div class="lh-col-2 col-sm-6">
                  {% if content.row_11_col_2 %}
                    {{ content.row_11_col_2 }}
                    <div class="panel-separator"></div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.row_12|render is not empty %}
    <div class="lh-row-12">
      <div class="{{settings.row_12}}">
        {{ content.row_12 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_13_half_1 or content.row_13_half_2 %}
    <div class="lh-6-6-col-wrapper lh-row-13">
      <div class="container">
        <div class="row">
          {% if content.row_13_half_1 %}
            <div class="col-sm-6 lh-half-1">
              {{ content.row_13_half_1 }}
            </div>
          {% endif %}
          {% if content.row_13_half_2 %}
            <div class="col-sm-6 lh-half-2">
              {{ content.row_13_half_2 }}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}

  {% if content.row_14|render is not empty %}
    <div class="lh-row-14">
      <div class="{{settings.row_14}}">
        {{ content.row_14 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_15|render is not empty %}
    <div class="lh-row-15">
      <div class="{{settings.row_15}}">
        {{ content.row_15 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_16|render is not empty %}
    <div class="lh-row-16">
      <div class="{{settings.row_16}}">
        {{ content.row_16 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_17|render is not empty %}
    <div class="lh-row-17">
      <div class="{{settings.row_17}}">
        {{ content.row_17 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_18|render is not empty %}
    <div class="lh-row-18">
      <div class="{{settings.row_18}}">
        {{ content.row_18 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_19|render is not empty %}
    <div class="lh-row-19">
      <div class="{{settings.row_19}}">
        {{ content.row_19 }}
      </div>
    </div>
  {% endif %}

  {% if content.row_20|render is not empty %}
    <div class="lh-row-20">
      <div class="{{settings.row_20}}">
        {{ content.row_20 }}
      </div>
    </div>
  {% endif %}

</div>
