.seeds-root .node-visit-plan-form #edit-field-attraction-wrapper,
.seeds-root .node-visit-plan-edit-form #edit-field-attraction-wrapper,
.seeds-root .node-visit-plan-form #edit-field-animal-wrapper,
.seeds-root .node-visit-plan-edit-form #edit-field-animal-wrapper,
.seeds-root .node-visit-plan-form #edit-field-what-s-new-wrapper,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new-wrapper,
.seeds-root .node-visit-plan-form #edit-field-experience-reference-wrapper,
.seeds-root .node-visit-plan-edit-form #edit-field-experience-reference-wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}
.seeds-root .node-visit-plan-form #edit-field-attraction-wrapper legend,
.seeds-root .node-visit-plan-edit-form #edit-field-attraction-wrapper legend,
.seeds-root .node-visit-plan-form #edit-field-animal-wrapper legend,
.seeds-root .node-visit-plan-edit-form #edit-field-animal-wrapper legend,
.seeds-root .node-visit-plan-form #edit-field-what-s-new-wrapper legend,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new-wrapper legend,
.seeds-root .node-visit-plan-form #edit-field-experience-reference-wrapper legend,
.seeds-root .node-visit-plan-edit-form #edit-field-experience-reference-wrapper legend {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  font-size: 13px;
  font-weight: bold;
}
.seeds-root .node-visit-plan-form #edit-field-attraction > div,
.seeds-root .node-visit-plan-edit-form #edit-field-attraction > div,
.seeds-root .node-visit-plan-form #edit-field-animal > div,
.seeds-root .node-visit-plan-edit-form #edit-field-animal > div,
.seeds-root .node-visit-plan-form #edit-field-what-s-new > div,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new > div {
  display: table-cell;
  margin: 10px 10px 10px 0;
  max-width: 140px;
}
.seeds-root .node-visit-plan-form #edit-field-what-s-new,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new {
  display: flex;
}
.seeds-root .node-visit-plan-form #edit-field-what-s-new > div,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new > div {
  display: block;
}
.seeds-root .node-visit-plan-form #edit-field-animal > div,
.seeds-root .node-visit-plan-edit-form #edit-field-animal > div {
  float: left;
  height: 200px;
}
.seeds-root .node-visit-plan-form #edit-field-attraction > div input,
.seeds-root .node-visit-plan-edit-form #edit-field-attraction > div input,
.seeds-root .node-visit-plan-form #edit-field-animal > div input,
.seeds-root .node-visit-plan-edit-form #edit-field-animal > div input,
.seeds-root .node-visit-plan-form #edit-field-what-s-new > div input,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new > div input {
  display: block;
  margin: 0 auto 10px auto;
}
.seeds-root .node-visit-plan-form #edit-field-attraction > div label.option > span,
.seeds-root .node-visit-plan-edit-form #edit-field-attraction > div label.option > span,
.seeds-root .node-visit-plan-form #edit-field-animal > div label.option > span,
.seeds-root .node-visit-plan-edit-form #edit-field-animal > div label.option > span,
.seeds-root .node-visit-plan-form #edit-field-what-s-new > div label.option > span,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new > div label.option > span {
  display: block;
  text-align: center;
}
.seeds-root .node-visit-plan-form #edit-field-attraction > div label.option img,
.seeds-root .node-visit-plan-edit-form #edit-field-attraction > div label.option img,
.seeds-root .node-visit-plan-form #edit-field-animal > div label.option img,
.seeds-root .node-visit-plan-edit-form #edit-field-animal > div label.option img,
.seeds-root .node-visit-plan-form #edit-field-what-s-new > div label.option img,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new > div label.option img {
  margin-top: 5px;
}
.seeds-root .node-visit-plan-form #edit-field-animal span.tablinks,
.seeds-root .node-visit-plan-edit-form #edit-field-animal span.tablinks,
.seeds-root .node-visit-plan-form #edit-field-what-s-new span.custom-plan-hidden,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new span.custom-plan-hidden,
.seeds-root .node-visit-plan-form #edit-field-attraction span.custom-plan-hidden,
.seeds-root .node-visit-plan-edit-form #edit-field-attraction span.custom-plan-hidden,
.seeds-root .node-visit-plan-form #edit-field-animal span.custom-plan-hidden,
.seeds-root .node-visit-plan-edit-form #edit-field-animal span.custom-plan-hidden,
.seeds-root .node-visit-plan-form #edit-field-experience-reference span.custom-plan-hidden,
.seeds-root .node-visit-plan-edit-form #edit-field-experience-reference span.custom-plan-hidden,
.seeds-root .node-visit-plan-form #edit-field-what-s-new-wrapper .empty-events,
.seeds-root .node-visit-plan-edit-form #edit-field-what-s-new-wrapper .empty-events {
  display: none !important;
}
.seeds-root .node-visit-plan-form #edit-field-experience-reference > div,
.seeds-root .node-visit-plan-edit-form #edit-field-experience-reference > div {
  display: inline-block;
  width: 50%;
  float: left;
}
.seeds-root .node-visit-plan-form #edit-field-experience-reference > div label,
.seeds-root .node-visit-plan-edit-form #edit-field-experience-reference > div label {
  display: inline-block;
}
.seeds-root .node-visit-plan-form #edit-field-experience-reference > div label img,
.seeds-root .node-visit-plan-edit-form #edit-field-experience-reference > div label img {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
.seeds-root .node-visit-plan-form .field--name-title .form-item,
.seeds-root .node-visit-plan-edit-form .field--name-title .form-item {
  margin-top: 30px !important;
}
.seeds-root .node-visit-plan-form #edit-field-plan-wrapper,
.seeds-root .node-visit-plan-edit-form #edit-field-plan-wrapper {
  display: none !important;
}
