.path-frontpage {
    .more-link.form-group {
        background-image: url(../images/redtag2.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
    header.navbar-default {
        background: #43255e;
        .navbar-header {
            #block-booktickets,
            .block-booktickets {
                @media (min-width: 1200px) {
                    bottom: 170px;
                }
                .field--name-body {
                    a {
                        background-color: transparent;
                        background-image: url(../images/Rectangle1.svg);
                        background-repeat: no-repeat;
                        background-size: contain;
                        padding: 30px 20px 0px !important;
                        text-align: center;
                        font-size: 40px;
                        background-position: center;
                    }
                }
                &:after {
                    display: none;
                }
            }
            #block-callus,
            .block-callus {
                @media (max-width: 1200px) {
                    bottom: 345px;
                }
                bottom: 240px;
                .field--name-body {
                    float: none;
                    background: none;
                    padding: 0;
                    border-radius: 0;
                    margin-top: 0;
                    background-image: url(../images/Rectangle.png);
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;
                    text-align: center;
                    .call-us-wrapper {
                        padding: 10px;
                    }
                    a {
                        position: relative;
                        &::before {
                            content: "\f095";
                            font: normal normal normal 40px/1 FontAwesome;
                            display: inline-block;
                            font-weight: bold;
                            margin: 10px 15px 0 0;
                            position: absolute;
                            left: -40px;
                        }
                    }
                    .call-us {
                        padding: 5px;
                        float: none;
                    }
                    .phone {
                        display: none;
                    }
                }
            }
        }
        .navbar-collapse {
            .navbar-nav {
                >li {
                    >a {
                        &:after {
                            content: "";
                            background: #796c65;
                            background-repeat: no-repeat;
                            width: 80px;
                            height: 80px;
                            background-position: center;
                            border-radius: 10px;
                            top: -90px;
                        }
                        &.explore {
                            &:after {
                                background-image: url(../images/explore.svg) !important;
                            }
                        }
                        &.plan-visit {
                            &:after {
                                background-image: url(../images/planyouvisit.svg) !important;
                            }
                        }
                        &.education {
                            &:after {
                                background-image: url(../images/education.svg) !important;
                            }
                        }
                        &.conservation {
                            &:after {
                                background-image: url(../images/conservation.svg);
                            }
                        }
                    }
                    &:last-child {
                        a {
                            &::after {
                                background-color: transparent;
                            }
                        }
                    }
                }
            }
            .navbar-collapse-inner-wrapper {
                background-color: #796c65;
            }
        }
    }
    .block-views-blockclosing-hours-block-1 {
        margin: 0 0 0;
        .slick__slide {
            margin: 33px 0;
            padding: 10px;
        }
        .view-id-closing_hours.view-display-id-block_1>.view-content,
        .view-id-opening_hours.view-display-id-opening_hours {
            background-image: url(../images/Rectangle2.svg);
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            padding: 0;
            &:after {
                display: none;
            }
        }
        .view-id-closing_hours.view-display-id-block_1>.view-content {
            background-color: #ccb267;
            &:after {
                background-image: url(../images/closing.svg);
                width: 90px;
                height: 90px;
                top: -78px;
            }
        }
    }
    .lh-row-2 {
        background-color: #4dafc0 !important;
        &::after {
            border-style: solid;
            border-width: 0 0px 120px 1500px;
            border-color: transparent transparent #ffffff transparent;
            width: 100%;
            margin-left: -10px;
            background-image: unset;
            transform: rotate(0deg) !important;
            bottom: 0px !important;
        }
        .more-link.form-group {
            background-image: url("../images/tag.png");
            z-index: 1;
            a {
                color: #4dafc0;
                z-index: 2;
            }
        }
        .view-display-id-front_category {
            .views-row {
                .field--name-taxonomy-term-title {
                    h2 {
                        a {
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    .block-views-blockattractions-front {
        &::before {
            content: "";
            position: absolute;
            top: 137;
            left: 0;
            width: 100%;
            background-image: url("../images/red.png");
            height: 75px;
            z-index: 999;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            @media (max-width: 767px) {
                height: 45px;
            }
        } //Front Attraction
        .view-attractions {
            &.view-display-id-front {
                .views-row {
                    .field--name-node-title {
                        h2 {
                            color: white;
                            margin: 30px 0;
                        }
                    }
                    padding: 0;
                    &:nth-child(1) {
                        background-color: #D13431;
                    }
                    &:nth-child(2) {
                        background-color: #E95646;
                    }
                }
            }
        }
    }
    .lh-row-4 {
        &::after {
            background-image: url("../images/red2.png") !important;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transform: rotate(0deg) !important;
            width: 100% !important;
            height: 40px;
        }
        .form-group {
            .view {
                &.view-experiences.view-display-id-front_experiences {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 137;
                        left: 0;
                        width: 100%;
                        background-image: url("../images/red.png");
                        height: 75px;
                        z-index: 999;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        @media (max-width: 767px) {
                            height: 45px;
                        }
                    }
                }
            }
        }
    }
    .lh-row-12 {
        &::before {
            border-style: solid;
            border-width: 120px 1500px 0px 0px;
            border-color: #efefd7 transparent transparent transparent;
            margin-left: -10px;
        }
        &::after {
            border-style: solid;
            border-width: 75px 0px 0px 1500px;
            border-color: transparent transparent transparent #ffffff;
            margin-left: -10px;
            background-image: unset;
            transform: rotate(0deg) !important;
        }
        .view-social-feeds.view-display-id-latest_social_posts {
            >.view-content,
            .attachment-after {
                background-image: unset;
                background-color: #ffffff;
                position: relative;
                @media (max-width: 991px) {
                    margin: 30px 15px !important;
                }
                .node--type-sfa-social-post.node--view-mode-teaser,
                .node--type-sfa-social-post.node--view-mode-teaser {
                    position: unset;
                    &::after {
                        background-color: #ffffff;
                        border-radius: 50%;
                        text-align: center;
                        width: 60px;
                        height: 55px;
                        content: "";
                        right: 50px;
                        top: -30px;
                        background-size: 50px 45px;
                        background-position: center;
                        background-repeat: no-repeat;
                    }
                }
            }
            >.view-content .node--type-sfa-social-post.node--view-mode-teaser::after {
                background-image: url("../images/facebook.png");
            }
            >.attachment-after .node--type-sfa-social-post.node--view-mode-teaser::after {
                background-image: url("../images/twitter.png");
            }
        }
    }
    .lh-row-7 {
        &:after {
            background-image: unset !important;
        }
    }
    .lh-row-13 {
        .mailchimp-signup-subscribe-form {
            .form-actions {
                button {
                    background-image: url("../images/grey_tah.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    font-size: 18px;
                    &::after {
                        content: "";
                    }
                }
            }
        }
        .view-polls.view-display-id-latest_poll form {
            .form-actions {
                button {
                    background-image: url("../images/redtag2.png");
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    font-size: 18px;
                    &::after {
                        content: "";
                    }
                }
            }
        }
    }
    .node--type-events {
        &.node--view-mode-front {
            .extra-field-date {
                background-image: url(../images/whatsnewcard.svg) !important;
            }
        }
    }
}

.enquire-about-the-service {
    padding: 0 20px;
    z-index: 1;
}

// Responsive
.path-frontpage {
    // @media(max-width: 991px) {
    //     .block-views-blockclosing-hours-block-1 {
    //     }
    // }
    @media (max-width: 767px) {
        header.navbar-default {
            .mobile-header {
                .region-mobile-header {
                    #block-booktickets-2, .block-booktickets-2 {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 500px) {
        .block-views-blockclosing-hours-block-1 {
            .view-id-closing_hours.view-display-id-block_1>.view-content,
            .view-id-opening_hours.view-display-id-opening_hours {
                background-size: cover;
            }
        }
    }
    @media (max-width: 400px) {
        header.navbar-default {
            .mobile-header {
                .region-mobile-header {
                    #block-booktickets-2,
                    .block-booktickets-2 {
                        &:before {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}

html[dir="rtl"] {
    .path-frontpage {
        header.navbar-default {
            .navbar-header {
                .block-callus {
                    float: left;
                    left: 10px;
                    right: unset;
                }
                .block-booktickets {
                    float: left;
                    left: 10px;
                    right: unset;
                    .field--name-body a {
                        padding: 30px 20px 15px !important;
                        font-size: 32px;
                    }
                }
                .block-usermenu {
                    float: left;
                    margin-left: 0;
                    margin-right: 60px;
                    .menu li {
                        float: right;
                    }
                }
                .block-views-blockuser-information-block-1 {
                    margin-left: -15px;
                }
            }
        }
        .lh-row-4 {
            .form-group {
                .view.view-experiences.view-display-id-front_experiences::before {
                    margin-left: 10px;
                    @media(max-width: 767px) {
                        margin-left: 0;
                    }
                }
            }
        }
        .lh-row-12 {
            .view-social-feeds.view-display-id-latest_social_posts {
                .attachment-after {
                    margin-left: 0%;
                    margin-right: 4%;
                }
            }
        }
        .block-views-blockattractions-front {
            .view-attractions {
                &.view-display-id-front {
                    .views-row {
                        .field--name-node-title {
                            h2 {
                                margin: 20px 0;
                            }
                        }
                        &:nth-child(1) {
                            background-color: #E95646;
                        }
                        &:nth-child(2) {
                            background-color: #D13431;
                        }
                    }
                }
            }
        }
    }
}