{#
/**
 * @file
 * Default theme implementation for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 * - ainmenubock: Menu block items.
 *
 * @ingroup templates
 */
#}

{% if breadcrumb|length > 0 or ainmenubock|length %}
  <div class="breadcrumbs-wrapper clearfix">
    {% if breadcrumb|length > 0 %}
      <ol class="breadcrumb">
        {% for item in breadcrumb %}
          <li {{ item.attributes }}>
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    {% endif %}
    {% if ainmenubock|length > 0 %}
      <ol class="breadcrumb breadcrumb-menu">
        {% for item in ainmenubock %}
          <li>
            {% if item.url %}
              <a href="{{ item.url }}">{{ item.text }}</a>
            {% else %}
              {{ item.text }}
            {% endif %}
          </li>
        {% endfor %}
      </ol>
    {% endif %}
  </div>
{% endif %}
