{#
/**
 * Template to render background header.
 * title: Title of page.
 * class: Class added to specify header background.
 *
 */
#}

{%
  set classes = [
    'header-half-image',
    'header-' ~ class|clean_class,
  ]
%}

<div {{ attributes.addClass(classes)}}>
    <div class="header-half-title col-sm-6">
      <div class='header-title-wrapper container'><{{tag}}>{{title}}</{{tag}}></div>
	</div>
	<div class="header-half-image-image col-sm-6">
		{{image}}
	</div>
</div>