{#
/**
 * Template to render background header.
 * title: Title of page.
 * class: Class added to specify header background.
 *
 */
#}

{%
  set classes = [
    'header-background',
    'header-' ~ class|clean_class,
  ]
%}

<div {{ attributes.addClass(classes)}}>
  {% if  title is not empty %}
	<{{tag}}>{{title}}</{{tag}}>
  {% endif %}
</div>