{% set module = 'social-auth' %}

{{ attach_library('social_auth/auth-icons') }}

{% for social_network in social_networks %}
  {% if destination %}
    <a class="{{ module }} auth-link" href="{{ path(social_network.route) }}?login_destination=/{{ destination }}">
  {% else %}
    <a class="{{ module }} auth-link" href="{{ path(social_network.route) }}">
  {% endif %}
    {{ 'Login using Facebook'|t }}
  </a>
{% endfor %}
