{# <div class="loader"></div> #}
<header class="map-header" id="navbar" role="banner">
  <div class="container">
    {% if logopath %}
      <a class="logo hidden-xs" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src=" {{ logopath}}" alt={{ 'Home'|t }} />
      </a>
    {% endif %}

    {% if mobile_logo %}
      <a class="logo navbar-btn mobile-logo visible-xs" href="{{ path('<front>') }}" title="{{ 'Home'|t }}" rel="home">
        <img src=" {{ mobile_logo }}" alt={{ 'Home'|t }} />
      </a>
    {% endif %}

    <div class="do-dont"><a class="use-ajax" data-dialog-type="modal" href="{{do_dont_link}}"><img src="{{do_dont}}" /></a></div>
  </div>
</header>

{# Main #}
{% block main %}
  <div role="main" class="main-container {{ main_container }} js-quickedit-main-content">
    <div class="{{main_row}}">
      <section>

        {# Content #}
        {% block content %}
          <a id="main-content"></a>
          {{ page.content }}
          <div class="map-keys container">{{map_keys}}</div>
        {% endblock %}
      </section>
    </div>
  </div>
{% endblock %}

{% if page.footer %}
  {% block footer %}
    <footer class="footer" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="footer-left col-sm-2 col-xs-12">
            {{ page.footer_left }}
          </div>
          <div class="footer-middle col-sm-4 col-xs-12">
            {{ page.footer_middle }}
          </div>
          <div class="footer-right col-sm-3 col-xs-12">
            {{ page.footer_right }}
          </div>
          <div class="footer-right-2 col-sm-3 col-xs-12">
            {{ page.footer_right_2 }}
          </div>
        </div>
      </div>

      <div class="footer-bottom">
        <div class="container">
          {{ page.footer }}
        </div>
        <div class="copyright">
          {{ 'Copyright ©' |t}} {{ "now"|date("Y") }} {{' Al Ain Zoo.' |t}}
        </div>
      </div>


    </footer>
  </div>
  {% if page.navigation_collapsible %}
    <div id="navbar-collapse" class="navbar-collapse mobile-menu-outer-wrapper visible-xs">
      {{ page.navigation_collapsible|without('ain_main_menu') }}
    </div>
  {% endif %}
{% endblock %}
{% endif %}


