{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# Summary background class. #}
{% if content.field_background|render %}
  {% set background = content.field_background['#items'].getString() %}
{% endif %}

{# Summary down class. #}
{% if content.field_down|render %}
  {% set down = content.field_down['#items'].getString() %}
{% endif %}

{# Summary template class. #}
{% if content.field_template|render %}
  {% set template = content.field_template['#items'].getString() %}
{% endif %}

{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    background|clean_class,
    down|clean_class,
  ]
%}

{% block paragraph %}
  <div{{ attributes.addClass(classes) }}>
    <div class="prg-wrapper">
      <div class="container">
        {% block content %}
          {% if  content.field_image|render is  empty %}
            <div class="row">
              <div class="col-sm-12">
                {% if template == 'small-right-image' %}
                  <div class="small-image-header">
                {% endif %}
                {{content.field_icon}}
                <h2>{{content.field_title}}</h2>
                {% if template == 'small-right-image' %}
                  </div>
                {% endif %}
                {{content.field_description}}
                {{content.field_link}}
              </div>
            </div>
          {% elseif template == 'small-right-image' %}
            <div class="small-image-header">
              {{content.field_icon}}
              <h2>{{content.field_title}}</h2>
            </div>
            <div class="row">
            <div class="col-sm-4 pull-right template-{{template}}">
                {{content.field_image}}
              </div>
              <div class="col-sm-8 pull-left">
                {{content.field_description}}
                {{content.field_link}}
              </div>
            </div>
          {% else %}
            <div class="row">
              <div class="col-sm-6 template-{{template}}">
                {{content.field_image}}
              </div>
              <div class="col-sm-6">
                {{content.field_icon}}
                <h2>{{content.field_title}}</h2>
                {{content.field_description}}
                {{content.field_link}}
              </div>
            </div>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>
{% endblock paragraph %}
