{#
/**
 * @file
 * Bootstrap Paragraphs template for displaying Bootstrap Tabs.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   - id: The paragraph ID.
 *   - authorid: The user ID of the paragraph author.
 *   - createdtime: Formatted creation date. Preprocess functions can
 *     reformat it by calling format_date() with the desired parameters on
 *     $variables['paragraph']->getCreatedTime().
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}

{# The template default set classes. #}
{%
set classes = [
'paragraph',
'paragraph--type--' ~ paragraph.bundle|clean_class,
view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
]
%}


{# Sets Unique ID for Accordion from Paragraph ID. #}
{% set paragraph_id = 'tab-' ~ paragraph.id.value %}
{# Prints Tabs template. #}
<div{{ attributes.addClass(classes).setAttribute('id', paragraph_id) }} role="tablist" aria-multiselectable="true">
  <div class="paragraph__column">
    {{ title_suffix }}
    <ul class="nav nav-tabs" role="tablist">
      {# Loops through the tab sections to print the tab section titles. #}
      {% for key, item in content.field_tab if key|first != '#' %}
        <li role="presentation" class="{% if loop.first %}active{% endif %}"><a href="#tab-{{ key }}" aria-controls="{{ item['#paragraph'].field_tab_name.value }}" role="tab" data-toggle="tab">{{ item['#paragraph'].field_tab_name.value }}</a></li>
        {% endfor %}
    </ul>
    <div class="tab-content">
      {# Loops through the tab sections again to print the tab section bodies. #}
      {% for key, item in content.field_tab if key|first != '#' %}
        {% if  item['#paragraph'].field_tab_body.value|render is not empty %}
          <div role="tabpanel" class="tab-pane{% if loop.first %} active{% endif %} field--name-body" id="tab-{{ key }}">
            {% set body = {
              '#type':   'processed_text',
              '#text':    item['#paragraph'].field_tab_body.value,
              '#format':  item['#paragraph'].field_tab_body.format,
            } %}
            {{ body }}
          </div> 
        {% endif %}
      {% endfor %}

    </div>
  </div>
</div>
