{#
/**
 * @file
 * Bootstrap Layouts: "1 Column" template.
 *
 * Available layout variables:
 * - container: A boolean indicating whether to add a contianing div or not.
 * - section_attributes: Attributes for the section when a container is used.
 * - wrapper: Wrapper element for the layout container.
 * - attributes: Wrapper attributes for the layout container.
 *
 * Available region variables:
 * - main
 *
 * Each region variable contains the following properties:
 * - wrapper: The HTML element to use to wrap this region.
 * - attributes: The HTML attributes to use on the wrapper for this region.
 * - content: The content to go inside the wrapper for this region.
 */
#}
{% if container %}
  <div{{ section_attributes }}>
    <div class="container">
{% endif %}
<{{ wrapper }}{{ attributes }}>
  {{ title_suffix.contextual_links }}
  <{{ main.wrapper }}{{ main.attributes }}>
    {{ main.content }}
  </{{ main.wrapper }}>
</{{ wrapper }}>
{% if container %}
    </div>
  </div>
{% endif %}
