//Attraction
.page-node-type-attraction {
  .field--name-field-image-2 {
    .set-separtor-bottom (@white);
  }

  .lh-row-2 .field--name-body {
    margin-bottom: 40px;
  }

  .lh-row-7 {
    .row;
    .set-bk(@light-blue);
    .set-separtor-top(@white);
    padding-top: 50px;
  }

  .field--name-dynamic-block-fieldnode-experience-tours {
    .field--label {
      font-size: 80px;
      font-family: Cross-Town;
      font-weight: normal;
      color: @white;
    }
  }
}

.node--type-attraction {
  &.node--view-mode-teaser {
    text-align: center;

    .field--name-field-image {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
    }

    .field--name-field-svg-icon  {
      display: inline-block;
      vertical-align: top;
      margin: 30px 16px 30px 0;
    }

    .field--name-node-title {
      display: inline-block;
      vertical-align: top;

      h2 {
        font-size: 40px;
        margin-top: 42px;
        margin-bottom: 10px;
        overflow: hidden;
        line-height: 1.2;
      }
    }
  }
}

//Front Attraction
.view-attractions {
  &.view-display-id-front {
    .view-content {
      display: flex;
      flex-wrap: wrap;
    }
    .views-row {
      padding: 0;
      &:nth-child(1) {
        background-color: #363439;

        .field--name-field-image {
          &:after {
            background-color: #363439;
          }
        }

        .field--name-node-title {
          h2 {
            color: #C8DB65;
            font-family: 'Cross-Town';
          }
        }
      }

      &:nth-child(2) {
        background-color: #434146;

        .field--name-field-image {
          &:after {
            background-color: #434146;
          }
        }

        .field--name-node-title {
          h2 {
            color: #4BC9D7;
            font-family: 'Cross-Town';
          }
        }
      }
    }
  }
}

@media(max-width:1200px) {
  .node--type-attraction {
    &.node--view-mode-teaser {
      text-align: inherit;
  
      .field--name-field-svg-icon  {
        display: block;
        float: left;
        margin: 25px 16px 0 10px;
      }
  
      .field--name-node-title {
        display: block;
        padding: 0 10px;
      }
    }
  }
}

@media(max-width: 767px) {
  .node--type-attraction {
    &.node--view-mode-teaser {
      .field--name-field-svg-icon {
        margin-top: 36px;
        img {
          width: 45px;
        }
      }
    }
  }

  .page-node-type-attraction {
    .field--name-dynamic-block-fieldnode-experience-tours {
      .field--label {
        font-size: 50px;
      }
    }
  }
}