.colored-link {
  color: #FFF;
  padding: 0 35px;
  z-index: 10;
  line-height: 60px;
  position: relative;
  text-transform: uppercase;
  display: inline-block;
}

.colored-link-before {
  font-family: "alainzoo";
  content: "\e901";
  font-size: 60px;
  line-height: 60px;
  position: absolute;
  left: 0;
  top: 0;
  color: #0c0202;
  z-index: -1;
}

.node--type-popup {
  &.node--view-mode-teaser {
    .field--name-node-title {
      display: none;
    }
  }
}

.slick-dots {
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
  position: static;

  li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;

    &.slick-active {
      button {
        &:after {
          color: @gray;
        }
      }
    }

    button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent;

      &:after {
        content: "\f111";
        font: normal normal normal 28px/1 FontAwesome;
        font-size: 20px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        color: @light-gray;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
  }
}

// Quicktabs

ul.quicktabs-tabs {
  padding: 15px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;

  > li {
    margin: 0 5px;
    padding: 5px 10px;
    box-shadow: inset 0 0 6px #000000;
    text-transform: uppercase;
    border-radius: 2px;

    a {
      display: inline-block;
      color: @text-color
    }
  }
}
