//Search Page 
.path-search {
  .header-background.header-header-brown {
    background-color: @blue;
  }
  header.navbar-default.not-front-header {
    .navbar-header {
      padding-bottom: 0 !important;
      .region-navigation {
        margin: 0;
      }
    }
  }
}

.node--view-mode-search {
  .field--name-node-title {
    h2 {
      margin-top: 0;
      font-size: 40px;
    }
  }
  .field--name-bundle-fieldnode {
    color: #b0b1b2;
    margin-bottom: 10px;
  }
}

.view-display-id-search {
  .view-header {
    margin-bottom: 50px;
    color: #b0b1b2;
    h2 {
      color: @text-body;
      text-transform: capitalize;
      font-weight: normal;
      font-size: 40px;
    }
  }
  .view-empty {
    margin: 50px 0;
    font-size: 40px;
  }
  .views-row {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid @light-gray;
    .node {
      .row;
    }
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
}

#block-exposedformsearchsearch-2,
.block-exposedformsearchsearch-3 {
  width: 80%;
  position: relative;
  margin: 50px auto;
  form {
    #edit-type {
      margin-top: 20px;
      color: #b0b1b2;
      .radio {
        margin-right: 30px;
        &:last-child {
          margin: 0;
        }
        label {
          input[type="radio"] {
            margin-right: 5px;
            margin-top: 0;
            bottom: -3px;
            width: 0;
            display: none;
          }
          input[checked="checked"]~span {
            &:after {
              background-color: #4dafc0 !important;
            }
          }
          span {
            position: relative;
            height: 18px;
            width: 18px;
            background-color: white;
            border: 1px solid #ddd;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -moz-background-clip: padding;
            -webkit-background-clip: padding-box;
            background-clip: padding-box;
            display: inline-block;
            margin: 5px 5px 0 0px;
            float: left;
            &:after {
              content: "";
              position: absolute;
              top: 4px;
              left: 4px;
              width: 8px;
              height: 8px;
              background: white;
              -webkit-border-radius: 50%;
              border-radius: 50%;
              -moz-background-clip: padding;
              -webkit-background-clip: padding-box;
              background-clip: padding-box;
            }
          }
        }
      }
      .checkedone {
        color: black;
        span:after {
          background-color: #4dafc0 !important;
        }
      }
    }
    .form-item {
      &.form-item-title {
        float: none;
        width: 100%;
        .form-control {
          width: 100%;
          height: 50px;
          padding-right: 56px;
        }
      }
    }
    .form-actions {
      button {
        margin: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
        position: absolute;
        top: 0;
        right: 0;
        height: 50px;
        font-size: 0;
        background: @blue;
        padding: 0;
        &:after {
          content: "\f002";
          display: block;
          font: normal normal normal 28px/1 FontAwesome;
          color: @white;
          padding: 10px 15px;
        }
      }
    }
  }
}

//Contact us
.contact-us-page {
  .field--name-body {
    h2 {
      font-size: 50px;
    }
    h3 {
      font-family: 'Roboto', sans-serif;
      color: @green;
    }
    a {
      color: @text-body;
      text-transform: uppercase;
    }
  }
  .lh-row-4 {
    margin: 50px -10px;
    .field--name-body {
      position: relative;
      height: 0;
      overflow: hidden;
      padding-bottom: 49%;
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}
 .captcha{
  .img-responsive{
     margin-left: 235px;
   }
  .control-label{
     margin-left: 235px;
   }

   .description{
     color: #ffffff;
    }
}
.page-node-type-page {
  .block-entity-fieldnodebody .field--name-body {
    padding: 20px 0;
  }
  .page-with-form {
    .lh-row-11 {
      form {
        .form-item {
          &.form-item-service-name {
            display: block;
          }
        }
      }
    }
  }
}

.page-with-form {
  .lh-row-11 {
    .row;
    background-color: @gray;
    position: relative;
    .lh-sidebar {
      h2,
      .field--name-dynamic-block-fieldnode-enquire {
        color: @white;
        margin-top: 50px;
        margin-bottom: 10px;
        font-size: 50px;
        font-family: 'Cross-Town';
      }
    }
    h2.block-title {
      color: @white;
      margin-top: 50px;
      margin-bottom: 10px;
      font-size: 50px;
      font-family: 'Cross-Town';
      .make-sm-column(4);
    }
    #webform-submission-szdlc-node-174-add-form {
      .make-sm-column(8);
    }
    &:after {
      font-family: "alainzoo";
      content: "\e900";
      font-size: 326px;
      position: absolute;
      color: #4a4952;
      bottom: 0px;
      width: 100%;
      line-height: 326px;
      left: 0px;
      transform: rotateY(180deg);
      z-index: 0;
    }
    .container {
      position: relative;
      z-index: 1;
    }
    form {
      overflow: hidden;
      margin: 50px 0;
      label {
        color: @white;
        width: 30%;
        font-weight: normal;
      }
      .form-item {
        overflow: hidden;
        &.form-item-service-name {
          display: none;
        }
        >div,
        >input {
          width: 70%;
          float: right;
          display: inline-block;
        }
      }
      .form-control {
        &.form-textarea {
          height: auto;
        }
      }
      .form-actions {
        .btn {
          background-color: @blue;
          margin: 70px 0 0;
          width: 50%;
          float: right;
          border-radius: 25px;
        }
      }
    }
  }
}

//NewsLetter 
.mailchimp-signup-subscribe-form {
  form {
    max-width: 70%;
    label {
      display: none;
    }
  }
  .form-actions {
    text-align: right;
    position: relative;
    button {
      color: @light-gray;
      background-color: transparent;
      border: 0;
      font-size: 15px;
      margin: 30px 0 0;
      padding: 13px 37px;
      border-radius: 5px;
      font-weight: bold;
      &:after {
        font-family: "alainzoo";
        content: "\e901";
        font-size: 45px;
        line-height: 45px;
        position: absolute;
        right: 0;
        z-index: -1;
        bottom: 0px;
        color: @gray;
      }
    }
  }
}

//Polls 
.block-views-blockpolls-latest-poll {
  h2.block-title {
    color: @red  !important;
  }
}

.view-polls {
  &.view-display-id-latest_poll {
    position: relative;
    form {
      color: #796c65;
      font-size: 20px;
      max-width: 70%;
      .poll-question {
        margin-top: 0;
        font-weight: normal;
        font-size: 20px;
      }
      .total {
        margin-bottom: 10px;
      }
      legend {
        display: none;
      }
      .radio {
        label {
          padding-left: 30px;
        }
        input {
          &[type="radio"] {
            margin-top: 10px;
            margin-left: -30px;
            width: 14px;
            height: 14px;
          }
        }
      }
      .form-actions {
        text-align: right;
        position: relative;
        button {
          text-transform: uppercase;
          background-color: transparent;
          border: 0;
          margin: 0;
          margin: 0;
          font-weight: bold;
          font-size: 15px;
          padding: 13px 50px;
          border-radius: 5px;
          &:hover {
            color: @white;
          }
          span {
            display: none;
          }
          &:after {
            font-family: "alainzoo";
            content: "\e901";
            font-size: 45px;
            line-height: 45px;
            position: absolute;
            right: 0;
            z-index: -1;
            top: 0px;
            color: #E95646;
          }
        }
      }
    }
  }
  button[value="View poll"] {
    display: none;
  }
}

.poll-note {
  font-size: 13px;
  font-style: italic;
  color: #666;
}

//404 page
#page-not-found {
  background-color: @beige;
  text-align: center;
  font-size: 32px;
  color: @warm-gray;
  max-width: 1440px;
  margin: 0 auto;
  min-height: 100vh;
  .main-container {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0%, -50%);
  }
  img {
    width: 55%;
    margin-top: 40px;
  }
  a {
    color: @brown;
    padding: 20px 0;
    display: inline-block;
  }
  .red {
    color: @red;
    font-size: 70px;
    font-weight: bold;
  }
}

//sitemape
#sitemap-page {
  .block-region-row-1 {
    .navbar-nav {
      float: none;
      list-style: disc;
      padding-left: 25px;
      margin: 20px 0;
      li {
        float: none;
        display: list-item;
        color: @red;
        &.open {
          a {
            background-color: transparent;
            &.dropdown-toggle {
              .fa {
                transform: rotate(90deg);
              }
            }
          }
        }
        a {
          display: inline-block;
          color: @red;
          font-size: 24px;
          font-weight: bold;
          &.dropdown-toggle {
            display: inline-block !important;
            .fa {
              transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
            }
          }
          &:hover,
          &:focus {
            background-color: transparent;
          }
        }
        .dropdown-menu {
          float: none;
          position: static;
          border: 0;
          box-shadow: none;
          padding: 0;
          a {
            font-size: 18px;
            font-weight: normal;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .mailchimp-signup-subscribe-form,
  .block-views-blockpolls-latest-poll {
    h2.block-title {
      font-size: 45px;
    }
  }
  .mailchimp-signup-subscribe-form {
    form {
      max-width: 100%;
    }
  } //poll
  .view-polls {
    &.view-display-id-latest_poll {
      form {
        max-width: 100%;
      }
      .form-actions {
        button {
          max-width: 100%;
          position: relative !important;
          float: right;
        }
      }
    }
  } //More Link
  .more-link.form-group {
    position: static;
    margin: 0 0 0 auto;
  } //Search
  .path-search {
    header.navbar-default {
      .mobile-header {
        .region-mobile-header {
          #block-callus-2 {
            .field--name-body {
              border-right: 0;
            }
          }
        }
        .mobile-search {
          display: none !important;
        }
      }
    }
  }
  .view-display-id-search {
    .view-header {
      h2 {
        font-size: 30px;
      }
    }
  }
  .node--view-mode-search {
    .field--name-node-title {
      h2 {
        margin-top: 20px;
        font-size: 30px;
      }
    }
  }
  #block-exposedformsearchsearch-2,
  .block-exposedformsearchsearch-3 {
    form {
      #edit-type {
        .radio {
          margin: 10px 0;
          label {
            margin-bottom: 0;
            vertical-align: middle;
            padding: 0;
          }
          input[type="radio"] {
            position: relative;
            margin-left: 0;
          }
        }
      }
    }
  } //404 page
  #page-not-found {
    font-size: 24px;
    .red {
      font-size: 60px;
    }
  }
}

// disable tour tip transition.
.popover.tour {
  -moz-transition: none;
  -webkit-transition: none;
  -o-transition: color 0 ease-in;
  transition: none;
  max-width: 400px;
}

/*User avatar form element*/

#edit-field-avatar {
  .row();
  display: flex;
  flex-wrap: wrap;
  >.form-item-field-avatar {
    label {
      padding: 0;
    }
    @media(max-width: @screen-xs) {
      .make-xs-column(6);
    }
    .make-xs-column(3);
    .make-sm-column(2);
    margin: 0 0 20px 0;
    input.form-radio {
      bottom: -15px;
      right: 50%;
      transform: translate(50%, 0);
      margin: 0;
      cursor: pointer;
      &:checked {
        &~.views-field-field-avatar {
          border: 3px solid @brown;
          .make-opacity(1);
        }
      }
      &~.views-field-field-avatar {
        display: block;
        border: 3px solid transparent;
        .make-opacity(0.6);
      }
    }
  }
}

.header-full-video {
  max-width: none !important;
  overflow: hidden;
  .video-responsive-wrapper {
    height: 100vh;
    position: relative;
    z-index: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    .video-responsive {
      min-height: 300px;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      >iframe,
      .video-overlay {
        position: absolute !important;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 2000px;
        height: 120vh;
        max-width: none;
      }
    }
  }
}

//Newsletter
.node--type-newsletter {
  &.node--view-mode-teaser {
    .field--name-field-file {
      .file {
        margin: 10px 0 20px;
        font-weight: 500;
        a {
          color: #878787;
          font-size: 20px;
        }
      }
    }
  }
}

.pager {
  .pager__item {
    a {
      position: relative;
      background: transparent;
      border: 0;
      color: #fff;
      padding: 13px 37px;
      &:hover,
      &:focus {
        background: transparent;
      }
      &::after {
        font-family: "alainzoo";
        content: "\e901";
        font-size: 52px;
        line-height: 45px;
        position: absolute;
        right: 0;
        z-index: -1;
        bottom: 0px;
        color: #565560;
      }
    }
  }
}

a.btn.custom-download {
  position: relative;
  background: transparent;
  border: 0;
  color: #fff;
  margin: 0 10px;
  background: #e95647;
  padding: 5px 15px;
  &:hover,
  &:focus {
    background: #565560;
  }
}
.lang-en{
  .captcha{
  .img-responsive{
     margin-left: 235px;
   }
  .control-label{
     margin-left: 235px;
   }

   .description{
     color: #ffffff;
    }
    .form-item-captcha-response{
      position: absolute;
    }
    .reload-captcha-wrapper{
      margin-left: 423px;
      margin-top: -22px;
      position: absolute;
      .reload-captcha{
        color: aliceblue;
        }
}}
  .page-with-form{
   .lh-row-11 form {
    .form-actions{ .btn{
          margin-top: 200px;
   }  }
}}
}
.lang-ar{
  .captcha{
  .img-responsive{
     margin-right: 235px;
   }
  .control-label{
     margin-right: 235px;
     visibility: hidden;
     &:before{
         content: "ما هو الرمز في الصورة؟";
         visibility: visible;
         position: absolute;
     }
   }

   .description{
     color: #ffffff;
    }
    .form-item-captcha-response{
      position: absolute;
    }
    .reload-captcha-wrapper{
      margin-right: 423px;
      margin-top: -22px;
      position: absolute;
      visibility: hidden;

      .reload-captcha::after{
         content: "الحصول على كلمة التحقق الجديدة";
         visibility: visible;
         color: aliceblue;
         position: inherit;
         margin-right: -130px;
         font-size: 12px;
    }
    }
}
.description{
  visibility: hidden;
  &:after{
       content: "أدخل الرموز التي تظهر في الصورة";
       visibility: visible;
       margin-right: -200px;

  }
}

  .page-with-form{
   .lh-row-11 form {
    .form-actions{ .btn{
          margin-top: 200px;
   }  }
}}
}
.user-register{
.ain-page-wrapper{
.main-container{
.row{
.col-sm-12{
.region-content{
#user-register-form{
.captcha{
  .img-responsive{
     margin-left: 0px;
     margin-right: 0px;
   }
  .control-label{
     margin-left: 0px;
     margin-right: 0px;
   }
   .form-item-captcha-response{
      position: relative;
    }
    .reload-captcha-wrapper{
      margin-left: 0px;
      margin-top: 0px;
      position: relative;
      .reload-captcha{
        color: #535252;
        }
      .reload-captcha::after{
        color: #535252;
        margin-right: -550px;
        }
        }
}

.lang-en .user-register{
  .captcha{
  .img-responsive{
     margin-left: 0px;
   }
  .control-label{
     margin-left: 0px;
   }
    .form-item-captcha-response{
      position: relative;
    }
    .reload-captcha-wrapper{
      margin-left: 0px;
      margin-top: 0px;
      position: relative;
      .reload-captcha{
        color: #535252;
        }
}}}
.lang-ar .user-register{
  .captcha{
  .img-responsive{
     margin-right: 0px;
   }
  .control-label{
     margin-right: 0px;
     visibility: hidden;
     &:before{
         content: "ما هو الرمز في الصورة؟";
         visibility: visible;
         position: relative;
     }
   }
    .form-item-captcha-response{
      position: relative;
    }
    .reload-captcha-wrapper{
      margin-right: 0px;
      margin-top: 0px;
      position: relative;
      visibility: hidden;

      .reload-captcha::after{
         content: "الحصول على كلمة التحقق الجديدة";
         visibility: visible;
         color: #535252;
         position: relative;
         margin-right: 0px;
         font-size: 12px;
    }
    }
}
.description{
  visibility: hidden;
  &:after{
       content: "أدخل الرموز التي تظهر في الصورة";
       visibility: visible;
       margin-right: 0px;
       color: #535252;
  }
}}}
}}
}}
}} 

form.webform-submission-form.webform-submission-add-form {
  display: flex;
  flex-direction: column;
  .form-actions {
    order: 2;
    .btn {
      margin-top: 50px !important;
    }
  }
}
.captcha {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 70%;
  .img-responsive {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
  .form-item.js-form-item.form-type-textfield {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .control-label,
  .reload-captcha-wrapper {
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    width: 100% !important;
    position: relative !important;
  }
}

.flockler-carousel_v2-items .flickity-viewport {
    border: none;
}
