//Experiance
.page-node-type-experience {
  .main-container {
    .field--name-field-image-2 {
      margin-bottom: 10px;
    }

    .field--name-body {
      margin-bottom: 50px;
    }

    .field--name-node-title {
      h1 {
        font-size: 100px;
        margin: 30px 0;
        font-family: 'Cross-Town';
        margin-bottom: 0px;
      }
    }
  }
  .lh-row-1 {
    position: relative;
    .field--name-field-image-2 {
      img {
        width: 100%;
      }

      .set-separtor-bottom(@white);
    }
  }

  .slick--optionset--experience {
    margin-bottom: 50px;
    .slick-list  {
      margin: 0 -6px;
    }

    .slick-dots {
      padding: 0;
      margin: 0;
      text-align: center;
      width: 100%;
      position: absolute;

      li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;

        &.slick-active {
          button {
            &:after {
              color: @gray;
            }
          }
        }

        button {
          font-size: 0;
          line-height: 0;
          display: block;
          width: 20px;
          height: 20px;
          padding: 5px;
          cursor: pointer;
          color: transparent;
          border: 0;
          outline: none;
          background: transparent;

          &:after {
            content: "\f111";
            font: normal normal normal 28px/1 FontAwesome;
            font-size: 20px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            text-align: center;
            color: @light-gray;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
          }
        }
      }
    }
  }

  .lh-row-4 {
    text-align: center;
  }

  .lh-row-7{
    .row;
    border: 1px solid #ececec;
    background-color: #F7F7F7;
    margin-bottom: 60px;
    .field--label-inline{
      padding: 20px 0;
      font-size: 24px;
      font-weight: bold;
      .field--item{
        display: inline-block;
        padding-left: 10px;
      }

      &.field--name-field-text {
        float: left;
      }

      &.field--name-field-ticket-price{
         float: right;
      }

      &.field--name-field-decimal-number {
        float: right;
      }

      .field--label:after{
        display: none;
      }
    }
  }

  .lh-row-9 {
    .row;
  }
}

//Testimonials
.node--type-testimonials {
  &.node--view-mode-teaser {
    font-size: 20px;

    .field--name-body{
      margin: 0;
    }

    .field--name-field-image {
      overflow: hidden;
      img{
        border-radius: 50%;
        float: right;
      }
    }

    .field--name-node-title {
      h2{
        font-size: 36px;
        font-family: "Cross-Town";
      }
    }
  }
}

.view-id-testimonials.view-display-id-block_1 {
  .views-row {
    padding: 60px 130px;
    min-height: 255px;
    margin-bottom: 40px;
    -webkit-mask-image: url(../images/testimonials.svg);
    -webkit-mask-size: cover;
    mask-size: cover;
    mask-image: url(../images/testimonials.svg);
    background-color: @red;
    color: @white;

    &:nth-child(even) {
      background-color: @blue;
    }
  }
}

.node--type-experience {
  &.node--view-mode-one-third, &.node--view-mode-one-third-square-2 {
    position: relative;

    .field--name-node-title {
      h2 {
        margin:  20px 0;
        a {
          color: #818181;
          font-size: 40px;
          font-family: 'Cross-Town';
        }
      }
    }
  }

  &.node--view-mode-one-third {
    .field--name-node-title { 
      margin-top: -15px;
      padding-left: 20px;
    }
  }

  &.node--view-mode-one-third-square-2 {
    .field--name-node-title {
      position: absolute;
      bottom: 30px;
      left: 20px;
      right: 0;
      padding-top: 30px;

      h2 {
        margin: 20px;
        a {
          color: @white;
        }
      }
    }
  }

  &.node--view-mode-one-third-vertical {
    .field--name-node-title {
      h2 {
        margin: -14px 0 20px 0;
        padding-left: 72px;
        a {
          font-size: 55px;
          color: #818181;
          font-family: 'Cross-Town';
        }
      }
    }

    img {
      width: 100%;
    }
  }
  &.node--view-mode-visit-plan {
    margin-bottom: 15px;
    .field--name-field-icon,
    .field--name-node-title {
      float: left;
    }
    .field--name-field-icon {
      margin-right: 20px;
    }
    .field--name-node-title {
      line-height: 40px;
      color: @white;
      font-weight: bold;
    }
  } 
}

.view-display-id-experiences_page{
  .views-row{
    margin-bottom: 35px;
  }
}

.view-experiences {
  .view-content {
    margin-right: -10px;
    .views-row {
      float: left;
      width: 33%;

      &:nth-child(5) ~ .views-row {
        float: right;
      }

      &:nth-child(10) ~ .views-row {
        float: left;
      }

      &:nth-child(15) ~ .views-row {
        float: right;
      }
    }
  }

  &.view-display-id-front_experiences {
    position: static;

    .more-link.form-group {
      background-color: transparent;

      a {
        color: @white;
      }
    }
  }

  &.view-display-id-related_experiences, &.view-display-id-experience_tours {
    .slick__slide {
      margin: 0 10px;

      &:first-child:nth-last-child(1) {
        width: 25%;
        padding: 0 10px;
        margin: 0 auto;
      }
    }
    
    .views-field-title {
      text-align: center;
      margin: 10px 0 20px;
      a {
        color: @white;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .slick-dots {
      position: static;

      li {
        button {
          &:before {
            color: @light-gray;
          }
        }
      }
    }
  }
}

@media(max-width: 991px) {
  //Experiences
  .view-experiences {
    .view-content {
      margin-right: 0;
      .views-row {
        width: 50%;

        &:nth-child(5n + 1){
          width: 100%;
          float: none;
        }
      }
    }

    &.view-display-id-related_experiences, &.view-display-id-experience_tours {
      .slick__slide {
        &:first-child:nth-last-child(1) {
          width: 33.33%;
        }
      }
    }
  }

  .page-node-type-experience {
    .main-container  .field--name-node-title h1 {
      font-size: 80px;
    }
  }

  .view-id-testimonials.view-display-id-block_1{
    .views-row{
      -webkit-mask-image: none;
      mask-image: none;
      padding: 20px;
    }
  }

  .node--type-experience {
    &.node--view-mode-one-third-vertical, &.node--view-mode-one-third {
      position: relative;
      .field--name-node-title {
        position: absolute;
        bottom: 30px;
        left: 20px;
        right: 0;
        padding-top: 30px;
        padding-left: 0;

        h2 {
          margin: 20px;
          padding-left: 0;
          a {
            color: @white;
          }
        }
      }
    }
    &.node--view-mode-one-third-vertical {
      margin: 0 -10px;
      .field--name-node-title {
        right: 20px;
      }
    }
  }
}

@media(max-width: 767px) {
  //Experiences
  .page-node-type-experience {
    .main-container .field--name-node-title h1 {
      font-size: 60px;
    }

    .lh-row-7{
      .field--label-inline{
        font-size: 20px;
        &.field--name-field-text {
          float: none;
        }

        &.field--name-field-number {
          float: none;
        }
      }
    }
  }

  .view-experiences {
    .view-content {
      .views-row {
        width: 100%;
        float: none;
      }
    }

    &.view-display-id-related_experiences, &.view-display-id-experience_tours {
      .slick__slide {
        &:first-child:nth-last-child(1) {
          width: 50%;
        }
      }
    }
  }

  .node--type-experience {
    &.node--view-mode-one-third-vertical {
      margin: 0;
    }

    .field--name-node-title {
      h2 {
        a {
          font-size: 50px !important;
        }
      }
    } 
  }

  .view-id-testimonials.view-display-id-block_1 {
    .views-row{
      min-height: unset;
    }
  }

  .node--type-testimonials {
    &.node--view-mode-teaser {
      .field--name-body{
        clear: both;
      }

      .field--name-field-image {
        float: left;
        margin-bottom: 20px;
        img{
          float: none;
          margin-right: 20px;
        }
      }
    }
  }
}