footer.footer {
  background-color: @light-gray;
  padding-bottom: 0;
  padding-top: 0;
  margin-top: 0px;
  border-top: 0;

  h2 {
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
  }

  #block-footer,
  .about-us-footer {
    h2 {
      color: #cf3431;
      margin-bottom: 5px;
    }

    .menu {
      list-style: disc;
      padding-left: 25px;
      color: @gray;
      font-size: 14px;

      li {
        display: list-item;

        a {
          color: @gray;
          font-size: 15px;
          font-weight: bold;
          padding: 5px 0;
          padding-left: 10px;
        }
      }
    }
  }

  #block-sociallinks,
  .follow-us-footer {
    h2 {
      color: @blue;
      margin-bottom: 15px;
    }
    .menu {
      li {
        vertical-align: top;
        display: inline-block;
        margin: 0 11px 0 15px;

        &:first-child {
          margin-left: 0;
        }

        a {
          font-size: 0;
          padding: 0;
          width: 55px;
          height: 42px;
          margin-bottom: 10px;
          background-repeat: no-repeat;
          background-position: center;

          &.fa-facebook {
            background-image: url(../images/facebook.svg);
          }

          &.fa-twitter {
            background-image: url(../images/twitter.svg);
          }

          &.fa-instagram {
            &:before {
              font-family: "alainzoo";
              content: "\e908";
              color: @gray;
              font-size: 42px;
            }
          }

          &.fa-youtube {
            background-image: url(../images/youtube.svg);
          }
        }
      }
    }
  }

  .block-views-blockpartners-front-partners,
  .footer-partners {
    h2.block-title, h2.block-title a {
      color: #b4c90e;
      font-size: 15px;
      font-family: 'Roboto', sans-serif;
      margin: 20px 0 15px;
    }
    .view-display-id-front_partners {
      .views-row {
        margin: 0 15px 10px;
        float: left;

        img {
          height: 56px;
          width: auto;
        }
      }
    }
  }

  .footer-bottom {
    background-color: @gray;
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;

    .menu {
      li {
        display: inline-block;
        position: relative;

        &:after {
          content: "|";
          position: absolute;
          right: -5px;
          top: 8px;
        }

        &:last-child {
          &:after {
            display: none;
          }
        }

        a {
          color: @white;
          font-size: 15px;

          &:hover, &:focus {
            background-color: transparent;
          }
        }
      }
    }

    .copyright {
      padding-top: 10px;
      font-size: 15px;
      color: #ffffff;
    }
  }

  .footer-right-2{
    h2{
      color: @dark-brown;
      font-size: 15px !important;
      font-weight: bold;
      text-transform: uppercase;
      font-family: unset;
      margin: 20px 0 15px;
    }

    img {
      width: 250px;
    }
  }

  #block-views-block-sticky-popup-block-1{
    max-width: 200px;
    position: fixed;
    bottom: -25px;
    right: 40px;
    z-index: 12;
    background-size: cover;
    margin-bottom: -10px;
  }

  #block-views-block-popup-modal{
    #open-popup, #popup {
      max-width: 650px;
      display: none;
    } 
  }
}

#popup {
  max-width: 650px;
}
#spb-sticky_popup{
  .sticky_popup{
  max-width: 650px;
      display: none;
  }
}


@media (max-width: 845px) {
  footer.footer {
    #block-sociallinks {
      .menu {
        li {
          margin-left: 0;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  footer.footer {
    .footer-left, .footer-middle {
      margin-bottom: 20px;
    }

    .footer-bottom {
      .menu {
        li {
          a {
            padding: 10px;
          }
        } 
      }
    }

    .block-views-blockpartners-front-partners {
      .view-display-id-front_partners {
        .views-row {
          margin: 0 10px 10px;
        }
      }
    }
    #block-views-block-sticky-popup-block-1{
    display: none;
    }
  }
}