//Front Page
.path-frontpage {
  .page-header {
    display: none;
  }

  h2.block-title {
    font-size: 70px;
    margin: 30px 0;
    font-family: 'Cross-Town';
  }

  .lh-row-7, .lh-row-4, .lh-row-2, .lh-row-12 {
    .row;
    padding-bottom: 60px;
    position: relative;
  }

  .lh-row-7 {
    .set-separtor-bottom (@blue);
    background-color: @beige;
  }

  .lh-row-4 {
    .set-separtor-bottom (@beige);
  }

  .lh-row-2 {
    .set-separtor-bottom (@white);
    background-color: @gray;
    padding-bottom: 100px;
  }

  .lh-row-12 {
    .set-separtor-bottom (@white);
    background-color: @blue;
    padding-bottom: 40px;
  }

  .lh-row-13 {
    .row;
    padding-top: 40px;

    h2.block-title {
      font-size: 50px;
      color: @gray;
      span {
        position: relative;
        bottom: -8px;
      }
    }
  }

  footer.footer {
    padding-top: 75px;
    margin-top: 40px;
    .set-separtor-top (@white);
  }
}