.node--type-images {
  &.node--view-mode-teaser {
    position: relative;

    .field--name-node-title {
      h2 {
        text-align: center;

        a {
          color: inherit;

          &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }
  }

  &.node--view-mode-full {
    .field--name-field-media-images {
      display: flex;
      flex-wrap: wrap;


      > .field--item {
        flex-basis: 25%;
        @media (min-width: 768px) and (max-width: 991px) {
          flex-basis: 50%;
        }
        @media (max-width: 767px) {
          flex-basis: 100%;
        }

        .field--name-name {
          font-size: 20px;
          text-align: center;
          margin-bottom: 15px;
        }

        .field--name-field-description {
          font-size: 16px;
          margin-bottom: 15px;
          text-align: center;
        }
      }
    }
  }
}

// Gallery content type
.node--type-gallery {

  &.node--view-mode-teaser {
    .field--name-node-title {
      h2 {
        margin: 0 8px 20px;
        font-weight: 400;
        font-size: 20px;
        text-align: center;

        a {
          font-size: 24px;
          color: @text-body;
          text-transform: capitalize;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }
        }
      }
    }

    .field--name-field-media {
      .field--name-field-media-oembed-video {
        position: relative;
        margin-bottom: 10px;

        &:after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        > iframe {
          width: 100%;
          height: 300px;
          object-fit: contain;
          background: black;
        }
      }

      .field--name-field-media-video-file-1 {
        margin-bottom: 10px;

        video {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }

      .field--name-field-media-audio-file {
        margin-bottom: 10px;
      }
    }
  }
}

.block-views-blockmedia-center-gallery-block-1 {
  h2.block-title {

  }
}

