body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: @text-body;
  margin-top: 0;

  .lh-row-1, .lh-row-2 {
    .row;
  }

  .text-center {
    img {
      margin: 0 auto;
    }
  }

  .main-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .field--name-body{
    table{
      border: #d3d3d3 1px dotted;
      margin: 0;

      thead, tbody{
        background: transparent;
      }

      tr {
        &:nth-child(odd) {
          background: #f2f3e1;
          td {
            color: #7e8b56;
          }
        }
        &:nth-child(even) {
          background: #eaeadc;
          td {
            color: #808080
          }
        }
      }

      td {
        padding: 15px;
        border: #d3d3d3 1px dotted;
      }

      th, td{
        text-align: center;
      }
    }

    button {
      padding: 0px 40px;
      color: @white;
      min-width: 180px;
      line-height: 60px;
      text-align: center;
      position: relative;
      z-index: 2;
      border: 0;
      background: transparent;
      outline: none;
      a {
        color: @white;
      }
      &:after{
        font-family: "alainzoo";
        content: "\e901";
        font-size: 55px;
        line-height: 60px;
        position: absolute;
        right: 0;
        z-index: -1;
        top: 0px;
        color: @red;
      }
    }
  }
}

//iframe responcive
.field--name-field-media-embed {
  position: relative;
  /*padding-bottom: 56.25%;*/
  padding-top: 35px;
  height: auto;
  overflow: hidden;
  iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.block-views-blockfaqs-faqs-page {
  margin: 60px 0;
  .view-faqs{
    .form--inline{
      position: relative;
      .form-item{
        width: 100%;
        input{
          width: 100%;
          height: 60px;
          font-size: 25px;
          padding-right: 70px;
        }
        .description{
          font-size: 30px;
          margin: 40px 0;
          color: #9b9a9c;
        }
      }

      .form-actions{
        position: absolute;
        right: 0;
        button{
          margin: 0;
          font-size: 0px;
          height: 60px;
          width: 70px;
          background: #4EAFC0;
          padding: 0;
          span:before {
            font-size: 25px;
          }
        }
      }

    }

    .group-wrapper{
      h3:before {
        content: ".";
        font-size: 30px;
        font-weight: bold;
        margin: 15px;
      }
      .accordion-title{
        h3{
          display: inline-block;
          background-color: white;
          cursor: pointer;
          width: 100%;
          border: none;
          outline: none;
          color: @gray;
          margin-top: 35px;
          &.active, &:hover, &:focus {
            color: @text-body;
          }
          &:before {
            content: "\f101";
            font: normal normal normal 24px/1 FontAwesome;
            display: inline-block;
            font-weight: bold;
            margin: 0 5px 0 0;
          }
        }
      }

      .accordion-wrapper{
        display: none;
        .views-field-title{
          cursor: pointer;
          margin: 10px 25px 0 25px;
          color: @gray;
          font-weight: bold;
          &:hover, &:focus, &:active {
            color: @text-body;
          }
        }
        .views-field-body{
          display: none;
          margin: 5px 25px 25px 25px;
        }

        .views-row{
          .views-field-title{
            .field-content{
              &:before{
                content: "\f29c";
                font: normal normal normal 24px/1 FontAwesome;
                display: inline-block;
                position: relative;
                top: 2px;
                margin: 0 3px 0 0;
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1200px) {
  .container {
    width: 100%;
  }
}

.main-container {
  > div {
    overflow: hidden;
  }
}

img  {
  max-width: 100%;
  height: auto;
}

a, link {
  &:hover, &:focus {
    text-decoration: none;
  }
}

.field--name-body {
  h1, h2, h3, h4, h5, h6 {
    font-family: "Cross-Town";
  }
}

h1, h2, h3, h4, h5, h6 {

}

h1 {

}

h2 {
  text-transform: uppercase;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

*[onclick^="location"] {
  cursor: pointer;
}

iframe {
  max-width: 100%;
}

// CKeditor styles.
blockquote {
  border-color: @seeds;
  background-color: #f7f7f7;
}

figcaption {

}

// Pager.
.pagination {
  li {
    >a, >span {
      color: @gray;
      &:hover, &:focus {
        color: @gray;
      }
    }

    &:first-child, &:last-child {
      >a, >span {
        border-radius: 0px;
      }
    }

    &.active {
      span, a {
        background-color: @gray;
        border-color: @gray;
        &:hover, &:focus {
          background-color: @gray;
          border-color: @gray;
        }
      }
    }
  }
}

.field--name-add-to-plan {
  display: inline-block;
  margin: 30px 15px;
  a.add-to-plan {
    cursor: pointer;
    background-color: @blue;
    color: @white;
    padding: 15px 50px 15px 60px;
    display: block;
    position: relative;
    font-size: 20px;
    border-radius: 10px;
    &:before {
      position: absolute;
      content: '\f067';
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 22px;
      color: @white;
      left: 20px;
      top: 18px;
    }
  }
}

.field--name-remove-from-plan {
  display: inline-block;
  margin: 30px 15px;
  a.remove-from-plan {
    cursor: pointer;
    background-color: @red;
    color: @white;
    padding: 15px 50px 15px 60px;
    display: block;
    position: relative;
    font-size: 20px;
    border-radius: 10px;
    &:before {
      position: absolute;
      content: '\f068';
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 22px;
      color: @white;
      left: 20px;
      top: 18px;
    }
  }
}

.field--name-view-on-map {
  display: inline-block;
  margin: 30px 15px;
  a.view-on-map {
    cursor: pointer;
    background-color: @red;
    color: @white;
    padding: 15px 30px 15px 80px;
    display: inline-block;
    position: relative;
    font-size: 20px;
    border-radius: 10px;
    &:before { 
      background-image: url(../images/map.svg);
      content: "";
      width: 60px;
      height: 60px;
      display: block;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      left: 10px;
      top: -20px;
    }
  }
}

//Views More link
.more-link.form-group {
  top: 40px;
  right: 0;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  width: 213px;
  height: 57px;
  background-image: url(../images/see-all.svg);
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  padding: 15px;
}

// Voteform
.vote-form {
  clear: both;
  overflow: hidden;
  .form-type-select {
    float: left;
    .select-wrapper {
      &::after {
        content: '';
        display: none;
      }
    }
  }

  .vote-result {
    background: @light-gray;
    border-radius: 6px;
    display: inline-block;
    padding: 2px 11px;
    margin: 0px 10px;
  }
}

.modal-title{
  display: none;
}

// Partners Page
.block-views-blockpartners-block-1{
  .view-content{
    display: flex;
    flex-wrap: wrap;
    .views-row{
      margin-bottom: 30px;

      img{
        max-height: 180px;
        margin: 0 auto;
      }
    }
  }
}

//Map Keys
.view-map-keys {
  &.view-display-id-map_keys {
    margin-top: 20px; 
    .view-content {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      .views-row {
        margin-bottom: 20px;
      }
    }
  }
}

.node--type-map-key {
  &.node--view-mode-teaser {
    .field--name-field-icon {
      float: left;
      margin-right: 10px;
      padding: 10px 0;
      img {
        width: 40px;
      }
    }
    .title-wrapper {
      font-size: 12px;
      padding: 10px 0;
      overflow: hidden;
    }
  }
}

@media(max-width: 767px) {
  //More Link
  .more-link.form-group {
    position: static;
    margin: 0 0 0 auto;
  }
}

.make-hidden {
  .make-hidden();
}

@media(max-width: 500px) {
  .col-xxs-6 {
    width: 50% !important;
  }
}

@media(max-width: 400px) {
  .field--name-add-to-plan {
    a.add-to-plan {
      padding: 15px 30px 15px 40px;
      font-size: 18px;
      &:before {
        left: 10px;
      }
    }
  }

  .node--type-map-key {
    &.node--view-mode-teaser {
      .title-wrapper {
        font-size: 14px;
      }
    }
  }

  .field--name-remove-from-plan {
    a.remove-from-plan {
      font-size: 18px;
      padding: 15px 30px 15px 40px;
      &:before {
        left: 10px;
      }
    }
  }

  .field--name-view-on-map {
    a.view-on-map {
      font-size: 18px;
    }
  }
}

// .loader {
//   position: fixed;
//   left: 0px;
//   top: 0px;
//   width: 100%;
//   height: 100%;
//   z-index: 9999;
//   background: url(../images/ajax-loader.gif) 50% 50% no-repeat rgb(250,250,250);
// }

@media(min-width: 1400px){
  .container {
    width: 1380px;;
  }
}

.modal-content {
  max-height: 2500px !important;
}
