//opening hours 
.path-frontpage {
  .block-views-blockclosing-hours-block-1 {
    width: 258px;
    float: left;
    color: @white;
    padding: 0;
    text-align: center;
    margin: 50px 0 0;
    position: relative;
    clear: left;
    position: absolute;
    bottom: 207px;
    left: 10px;
    top: auto;

    .slick__slide {
      padding: 0 20px;
      margin-top: 33px;
    }

    .view-id-closing_hours.view-display-id-block_1 >.view-content, .view-id-opening_hours.view-display-id-opening_hours {
      background-color: @gray;
      border-radius: 11px;
      padding: 10px;
      &:after {
        content: "";
        display: block;
        width: 85px;
        height: 85px;
        background-image: url(../images/clock.svg);
        background-size: contain;
        background-repeat: no-repeat;
        position: absolute;
        top: -42px;
        left: 50%;
        transform:translate(-50%, 0);
      }
    }


    .view-id-closing_hours.view-display-id-block_1 >.view-content {
      background-color: #CCB267;
      &:after {
        background-image: url(../images/closing.svg);
        width: 90px;
        height: 90px;
        top: -78px;
      }
    }
  }
}
.node--type-opening-hours { 
  &.node--view-mode-teaser {
    .field--name-node-title {
      h2 {
        font-size: 22px;
        font-weight: normal;
        text-transform: capitalize;
      }
    }

    .field--name-field-text  {
      font-size: 22px;
      font-weight: bold;
      padding-bottom: 10px
    }
  }
}

//closing
.node--type-closing-hours {
  &.node--view-mode-teaser {
    .field--name-node-title {
      h2 {
        font-size: 40px;
        font-family: "Cross-Town";
        font-weight: normal;
        text-transform: capitalize;
        margin-bottom: 0;
        margin-top: 30px;
      }
    }

    .field--name-field-sfa-post {
      font-size: 20px;
      padding-bottom: 10px;
    }
  }
}

//Bolck
.block-views-blockopening-hours-landing-page {
  margin-top: 40px;
}

//openning hour view
.view-opening-hours {
  &.view-display-id-landing_page,&.view-display-id-tickets_landing_page {
    table, td, .table-responsive {
      border: 0;
      margin: 0;
    }

    div[class*='background-'] {
      padding-bottom: 50px;
      overflow: hidden;
      &:last-child {
        margin-bottom: 40px;
      }
    }

    .views-field-title {
      font-family: "Cross-Town";
      font-size: 60px;
      padding: 50px 50px 0;
    }

    .views-field-field-sfa-post {
      padding: 0 50px 50px;
      clear: both;
    }

    .view-id-opening_hours_details {
      padding: 40px 20px;
      font-size: 20px;

      .view-content {
        .views-row {
          margin-bottom: 20px;
        }
      }

      strong {
        font-family: "Cross-Town";
        font-size: 30px;
        font-weight: normal;
      }
    }
  }

  &.view-display-id-tickets_landing_page {
    .views-field {
      text-transform: uppercase;
    }

    .views-field-field-sfa-post {
      font-size: 20px;
    }

    .view-id-opening_hours_details {
      padding-top: 50px;

      strong {
        position: relative;
        bottom: -10px;
        font-size: 40px;
      }
    }

    .views-row {
      &[class*='background-'] {
        margin-top: -30px;
        padding-bottom: 30px;

        &:first-child {
          margin-top: 0;
        }
        
        &:last-child {
          &:after {
            background-color: @white !important;
          }
        }

        &:after {
          transform: none !important;
          bottom: 0 !important;
        }
      }
    }
  }
  
  &.view-display-id-landing_page {
    div[class*='background-'] {
      .set-separtor-bottom (@white);
    }
  }
}

//Ticket
.ticket-landing-page {
  .online-ticket {
    display: block;
    margin-top: 50px;
    padding: 20px;
    background: @brown;
    border-radius: 10px;
    color: @white;
    font-size: 40px;
    font-family: "Cross-Town";
    padding-bottom: 0px;
    padding-top: 12px;
    &:hover, &:focus {
      color: @white;
    }
  }

  .admission-tickets {
    font-size: 80px;
    font-family: "Cross-Town";
    margin: 58px 0 0;
    line-height: normal;
  }

  .ticket-terms-conditions {
    clear: both;
    margin-bottom: 50px;
    a {
      color: @yellow;
      text-decoration: underline;
      &:hover, &:focus {
        color: @yellow;
      }
    }
  }
}

@media(max-width: 992px){
  //ticket
  .ticket-landing-page {
    .online-ticket {
      padding: 11px 10px 0;
      font-size: 30px;
    }

    .admission-tickets {
      font-size: 60px;
    }
  } 
}

@media(max-width: 767px){
  .path-frontpage {
    .block-views-blockclosing-hours-block-1 {
      bottom: auto;
      left: 10px;
      top: 50%;
      transform: translate(0, -50%);
      width: 50%;
      margin-top: 30px;

      .slick__slide {
        margin-top: 15px;
      }

      .view-id-opening_hours.view-display-id-opening_hours {
        &:after {
          width: 60px;
          height: 60px;
          top: -30px;
        }
      }
    }
  }
  .view-opening-hours {
    &.view-display-id-landing_page,&.view-display-id-tickets_landing_page {
      .views-field-title {
        padding: 20px 20px 0px;
        font-size: 40px;
      }
      .views-field-field-sfa-post{
        padding: 0 20px;
      }
      .view-id-opening_hours_details {
        clear: both;
      }
    }
  }

  .node--type-opening-hours { 
    &.node--view-mode-teaser {
      .field--name-node-title {
        h2 {
          font-size: 18px;
        }
      }

      .field--name-field-text  {
        font-size: 18px;
      }
    }
  }

  //closing
  .node--type-closing-hours {
    &.node--view-mode-teaser {
      .field--name-node-title {
        h2 {
          font-size: 30px;
          margin-top: 15px;
        }
      }

      .field--name-field-sfa-post {
        font-size: 18px;
      }
    }
  }  

  //ticket
  .ticket-landing-page {
    .online-ticket {
      padding: 10px 10px 0;
      font-size: 26px;
    }

    .admission-tickets {
      font-size: 50px;
    }
  }
}

@media(max-width: 500px){
  //ticket
  .ticket-landing-page {
    .block-entity-fieldnodebody {
      .pull-left, .pull-right {
        float: none !important;
      }
      .online-ticket {
        margin: 20px 0;
        display: inline-block;
      }
      .admission-tickets {
        font-size: 40px;
      }
    }
  }

  .path-frontpage  {
    .block-views-blockclosing-hours-block-1 {
      transform: none;
      bottom: 10px;
      top: auto;
      width: calc(~"100% - 20px");
    }

    .block-views-blockclosing-hours-block-1 {
      .view-id-closing_hours.view-display-id-block_1 >.view-content {
        &:after {
          width: 70px;
          height: 70px;
          top: -60px;
        }
      }
    }
  }
}

// body backgrounds
.views-row.background-white {
  .set-bk (@white, @text-body);
}

.views-row.background-red {
  .set-bk (@red);
}

.views-row.background-dark-red {
  .set-bk (@dark-red);
}

.views-row.background-dark-green {
  .set-bk (@dark-green);
}

.views-row.background-green {
  .set-bk (@green);
}

.views-row.background-light-green {
  .set-bk (@light-green);
}

.views-row.background-dark-blue {
  .set-bk (@dark-blue);
}

.views-row.background-blue {
  .set-bk (@blue);
}

.views-row.background-light-blue {
  .set-bk (@light-blue); 
}

.views-row.background-gray {
  .set-bk (@gray);
}

.views-row.background-warm-gray {
  .set-bk (@warm-gray);
}

.views-row.background-orange {
  .set-bk (@orange);
}

.views-row.background-dark-orange {
  .set-bk (@dark-orange);
}

.views-row.background-light-brown {
  .set-bk (@light-brown);
}

.views-row.background-brown {
  .set-bk (@brown);
}

.views-row.background-dark-brown {
  .set-bk (@dark-brown);
}

.views-row.background-beige {
  .set-bk (@beige , @text-body);
}

.views-row.background-purple {
  .set-bk (@purple); 
}

.views-row.background-dark-purple {
  .set-bk (@dark-purple); 
}