// Paragraph images styles.
.template-right-image {
  float: right !important;
}

.template-right-image, .template-left-image {
  // position: static !important;
  // img {
  //   position: absolute;
  //   bottom: 0;
  //   max-width: 50%;
  //   width: auto;
  //   right: 0;
  // }
}

.template-left-image {
  img {
    left: 0;
    right: auto;
  }
}

.template-small-right-image {
  margin-bottom: 45px;
}

@media(min-width: 1200px) {
  // .template-right-image, .template-left-image {
  //   min-height: 480px;
  //   img {
  //     max-height: 480px;
  //   }
  // }
}
@media(max-width: 1200px) and (min-width:992px) {
  // .template-right-image, .template-left-image {
  //   min-height: 430px;
  //   img {
  //     max-height: 430px;
  //   }
  // }
}

// Paragraph backgrounds
.prg-white .prg-wrapper{
  .set-bk (@white, @text-body);
  .template-small-right-image {
    .set-separtor-bottom (@white);
  }
}

.prg-red .prg-wrapper{
  .set-bk (@red);
  .template-small-right-image {
    .set-separtor-bottom (@red);
  }
}

.prg-dark-red .prg-wrapper{
  .set-bk (@dark-red);
  .template-small-right-image {
    .set-separtor-bottom (@dark-red);
  }
}

.prg-dark-green .prg-wrapper{
  .set-bk (@dark-green);
  .template-small-right-image {
    .set-separtor-bottom (@dark-green);
  }
}

.prg-green .prg-wrapper{
  .set-bk (@green);
  .template-small-right-image {
    .set-separtor-bottom (@green);
  }
}

.prg-light-green .prg-wrapper{
  .set-bk (@light-green);
  .template-small-right-image {
    .set-separtor-bottom (@light-green);
  }
}

.prg-dark-blue .prg-wrapper{
  .set-bk (@dark-blue);
  .template-small-right-image {
    .set-separtor-bottom (@dark-blue);
  }
}

.prg-blue .prg-wrapper{
  .set-bk (@blue);
  .template-small-right-image {
    .set-separtor-bottom (@blue);
  }
}

.prg-light-blue .prg-wrapper{
  .set-bk (@light-blue);
  .template-small-right-image {
    .set-separtor-bottom (@light-blue);
  }
}

.prg-gray .prg-wrapper{
  .set-bk (@gray);
  .template-small-right-image {
    .set-separtor-bottom (@gray);
  }
}

.prg-warm-gray .prg-wrapper{
  .set-bk (@warm-gray);
  .template-small-right-image {
    .set-separtor-bottom (@warm-gray);
  }
}

.prg-orange .prg-wrapper{
  .set-bk (@orange);
  .template-small-right-image {
    .set-separtor-bottom (@orange);
  }
}

.prg-dark-orange .prg-wrapper{
  .set-bk (@dark-orange);
  .template-small-right-image {
    .set-separtor-bottom (@dark-orange);
  }
}

.prg-light-brown .prg-wrapper{
  .set-bk (@light-brown);
  .template-small-right-image {
    .set-separtor-bottom (@light-brown);
  }
}

.prg-brown .prg-wrapper{
  .set-bk (@brown);
  .template-small-right-image {
    .set-separtor-bottom (@brown);
  }
}

.prg-dark-brown .prg-wrapper{
  .set-bk (@dark-brown);
  .template-small-right-image {
    .set-separtor-bottom (@dark-brown);
  }
}

.prg-beige .prg-wrapper{
  .set-bk (@beige , #dbc190);
  .template-small-right-image {
    .set-separtor-bottom (@beige);
  }
}

.prg-purple .prg-wrapper{
  .set-bk (@purple);
  .template-small-right-image {
    .set-separtor-bottom (@purple);
  }
}

.prg-dark-purple .prg-wrapper{
  .set-bk (@dark-purple);
  .template-small-right-image {
    .set-separtor-bottom (@dark-purple);
  }
}

.paragraph.paragraph--type--teaser-paragraph {
  &:after {
    display: block;
    margin-top: -35px;
  }
}

// Paragraph down Seprater
.prg-down-white, .views-row.background-white {
  .set-separtor-bottom (@white);
}
.prg-down-red, .views-row.background-red {
  .set-separtor-bottom (@red);
}
.prg-down-dark-red, .views-row.background-dark-red {
  .set-separtor-bottom (@dark-red);
}
.prg-down-dark-green, .views-row.background-dark-green {
  .set-separtor-bottom (@dark-green);
}
.prg-down-green, .views-row.background-green {
  .set-separtor-bottom (@green);
}
.prg-down-light-green, .views-row.background-light-green {
  .set-separtor-bottom (@light-green);
}
.prg-down-dark-blue, .views-row.background-dark-blue {
  .set-separtor-bottom (@dark-blue);
}
.prg-down-blue, .views-row.background-blue {
  .set-separtor-bottom (@blue);
}
.prg-down-light-blue, .views-row.background-light-blue {
  .set-separtor-bottom (@light-blue);
}
.prg-down-gray, .views-row.background-gray {
  .set-separtor-bottom (@gray);
}
.prg-down-warm-gray, .views-row.background-warm-gray {
  .set-separtor-bottom (@warm-gray);
}
.prg-down-orange, .views-row.background-orange {
  .set-separtor-bottom (@orange);
}
.prg-down-dark-orange, .views-row.background-dark-orange {
  .set-separtor-bottom (@dark-orange);
}
.prg-down-light-brown, .views-row.background-light-brown {
  .set-separtor-bottom (@light-brown);
}
.prg-down-brown, .views-row.background-brown {
  .set-separtor-bottom (@brown);
}
.prg-down-dark-brown, .views-row.background-dark-brown{
  .set-separtor-bottom (@dark-brown);
}
.prg-down-beige, .views-row.background-beige {
  .set-separtor-bottom (@beige);
}
.prg-down-purple, .views-row.background-purple {
  .set-separtor-bottom (@purple);
}
.prg-down-dark-purple, .views-row.background-dark-purple {
  .set-separtor-bottom (@dark-purple);
}

//Paragraph Fields
.field--name-field-grid {
  .paragraph {
    .field--name-field-icon, h2 {
      display: inline-block;
      vertical-align: middle;
    }

    .field--name-field-icon {
      margin-right: 16px;
    }

    .field--name-field-link {
      margin-bottom: 50px;
      text-align: right;
      position: relative;
      line-height: 60px;
      margin-top: 15px;

      a {
        display: inline-block;
        padding: 0px 40px;
        color: @gray;
        min-width: 240px;
        line-height: 60px;
        text-align: center;
        position: relative;
        z-index: 2;
        &:after{
          font-family: "alainzoo";
          content: "\e901";
          font-size: 75px;
          line-height: 60px;
          position: absolute;
          right: 0;
          z-index: -1;
          top: 0px;
          color: #ffcc00;
        }
      }
    }

    h2 {
      font-size: 70px;
      margin: 30px 0;
      font-family: 'Cross-Town';

      .field--name-field-title {
        position: relative;
        bottom: -12px;
      }
    }

    .small-image-header {
      h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-transform: capitalize;

        .field--name-field-title {
          position: static;
        }
      }
    }
  }

  .field--item {
    &:last-child {
      .paragraph .field--name-field-link {
        margin-bottom: 20px;
      }
    }
  }
}

//Taps Paragraph
.paragraph--type--tabs {
  overflow: hidden;
  padding: 20px 0;
  margin-bottom: 30px;

  .nav-tabs {
    float: left;
    width: 25%;
    border: 0;
    border-right: 5px solid @brown;

    li {
      float: none;
      margin: 0;

      a {
        border: 0;
        border-radius: 0;
        margin:0;
        color: @text-color;
        text-transform: capitalize;
      }

      &.active {
        a {
          color: @white;
          background: @brown;
          border: 0;
        }
      }
    }
  }

  .tab-content {
    float: left;
    width: 75%;
    padding-left: 50px;
  }
}

@media(max-width: 767px) {
  .template-right-image, .template-left-image {
    padding: 0;

    img {
      max-width: 100%;
      position: static;
    }
  }

  .field--name-field-grid .paragraph {
    h2 {
      font-size: 50px;
    }
    .field--name-field-description {
      margin-bottom: 30px;
    }

    .field--name-field-link {
      margin-top: 0;
    }
  }

  //Taps Paragraph
  .paragraph--type--tabs {

    .nav-tabs {
      float: none !important;
      width: 100%;
      border: 0 !important;
      border-bottom: 5px solid @brown !important;
      margin-bottom: 20px;

      li {
        float: left;
      }
    }

    .tab-content {
      float: none !important;
      width: 100% !important;
      padding-left: 0px;
    }
  }
}
