.user-register-form {
  .form-required {
    &:after {
      display: inline-block;
      margin: 0 5px;
    }
  }
}

.add-member-wrapper {
  .form-control {
    padding-left: 20px;
  }
  .form-item {
    display: block;
    &:after {
      margin: 0 5px;
      background-image: url(../images/required.svg);
      background-size: 10px 7px;
      content: "";
      display: inline-block;
      line-height: 1;
      height: 7px;
      width: 10px;
      position: absolute;
      top: 15px;
      left: 10px;
    }
  }
}

.path-user.user-logged-in {
  .user-form {
    max-width: 550px;
    margin: 20px auto 0 auto;
    .form-required {
      &:after {
        display: inline-block;
        margin: 0 5px;
      }
    }
  }
  background-color: #f2f2f2;
  .main-container {
    margin-bottom: 30px;
  }
  .view-user-information {
    position: relative;
  }
  .user-profile {
    background-color: @white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: 8px 9px 5px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 8px 9px 5px -10px rgba(0,0,0,0.7);
    box-shadow: 8px 9px 5px -10px rgba(0,0,0,0.7);
    .user-profile-label {
      color: @warm-gray;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }
  .user-info-edit {
    position: absolute;
    top: -30px;
    right: 0;
    .user-info-edit-button {
      color: @warm-gray;
      &:hover, &:active, &:focus {
        color: @gray;
      }
    }
  }
  .user-info-wrapper {
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    &.user-plan-wrapper {
      max-width: 100%;
    }
    .user-info-left {
      img {
        margin-right: 30px;
        margin-bottom: 10px;
        border: 3px solid #dddddd;
        border-radius: 10px;
      }
    }
    .user-info-right {
      margin-bottom: 10px;
      & > * {
        display: block;
        width: 100%;
      }
      .user-profile-name {
        text-transform: none;
        margin: 0 0 10px 0;
        font-size: 26px;
        color: #223259;
      }
      h4 {
        margin-top: 0;
      }
      .user-plan-date,
      .user-points {
        color: @warm-gray;
        font-size: 18px;
      }
      .user-plan-action {
        display: inline-block;
      }
      .user-details {
        color: #633341;
        font-size: 15px;
      }
      .user-details-item {
        display: inline-block;
        margin-right: 30px;
        &:before {
          margin-right: 10px;
        }
        &:last-child {
          margin-bottom: 0;
        }
        &.user-details-email {

        }
        &.user-details-gender {
          &.user-male {
            &:before {
              content: "\f222";
            }
          }
          &.user-female {
            &:before {
              content: "\f221";
            }
          }
        }
        &.user-details-emirate {
          &:before {
            content: "";
            display: inline-block;
            background: url(../images/flags/flag-uae.png);
            width: 15px;
            height: 15px;
            position: relative;
            top: 1px;
          }
        }
        &.user-details-mobile {

        }
      }
    }
    &.user-level-wrapper {
      .user-info-left {
        img {
          border: 0 none;
          border-radius: 0;
        }
      }
    }
  }
  .user-empty-info {
    font-size: 15px;
    text-align: center;
  }

  .field--name-dynamic-block-fielduser-user-family-members {
    background-color: @white;
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #dfdfdf;
    -webkit-box-shadow: 8px 9px 5px -10px rgba(0,0,0,0.7);
    -moz-box-shadow: 8px 9px 5px -10px rgba(0,0,0,0.7);
    box-shadow: 8px 9px 5px -10px rgba(0,0,0,0.7);

    .field--label{
      color: #796C55;
      font-size: 15px;
      margin-bottom: 10px;
      font-weight: normal;
    }

    form{
      overflow: auto;
      .btn {
        line-height: 2.428571;
        width: 75px;
        padding: 6px;
        margin-top: 0;
      }

      #added-members-container {
        padding-left: 4%;

        @media(max-width: 767px) {
          padding: 0 !important;
        }
      }

      .add-member-wrapper{
        overflow: auto;
        .family-icon{
          height: 50px;
          width: 50px;
          background-repeat: no-repeat;
          background-size: contain;
          border: 1px solid #e6e6e6;
          background-image: url(../images/male-icon.png);
          border-radius: 5px;
          padding: 0;
        }

        .btn{
          background-color: #4DAFC0;
          line-height: 2;
        }
      }

      .family-member{
        overflow: auto;
        margin-bottom: 20px;

        .col-sm-3{
          line-height: 2.428571;
        }

        .sex-m{
          height: 50px;
          width: 50px;
          background-repeat: no-repeat;
          background-size: contain;
          border: 1px solid #e6e6e6;
          background-image: url(../images/male-icon.png);
          border-radius: 5px;
          padding: 0;
        }

        .sex-f{
          height: 50px;
          width: 50px;
          background-repeat: no-repeat;
          background-size: contain;
          border: 1px solid #e6e6e6;
          background-image: url(../images/female-icon.png);
          border-radius: 5px;
          padding: 0;
        }

        .btn{
          background-color: #E95646;
          span{
            display: none;
          }
        }
      }
    }
  }
}

@media(max-width: 767px) {
  .path-user.user-logged-in {
    .field--name-dynamic-block-fielduser-user-family-members {
      form{
        .add-member-wrapper{
          padding-bottom: 10px;
          box-shadow: 0 2px 5px #e6e6e6;
          .family-icon{
            display: none;
          }

          .form-item{
            margin-bottom: 10px;
          } 
        }

        .family-member{
          padding-bottom: 10px;
          box-shadow: 0 2px 5px #e6e6e6;
          .sex-m, .sex-f{
            display: none;
          }
        }
      }
    }
  }
}