@import url("https://fonts.googleapis.com/css?family=Tajawal");
@media (max-width: 767px) {
  html[dir=rtl] body.toolbar-fixed {
    margin-right: 55px !important;
    margin-left: auto !important;
} }

html[dir=rtl] body.toolbar-fixed.seeds-local-tasks nav.tabs > .tabs--primary.nav-tabs {
  float: left;
}

html[dir=rtl] body.toolbar-fixed #admin-toolbar-search-tab #toolbar-item-administration-search-tray {
  left: 1500px !important;
}

html[dir=rtl] .seeds-toolbar-background {
  -webkit-box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.25);
  box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, 0.25);
}

html[dir=rtl] body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light .toolbar-tray .menu-item--expanded:hover > ul > li:first-child:before {
  border-right-color: transparent !important;
  border-left-color: #fff !important;
}

html[dir=rtl] body.toolbar-fixed.light #toolbar-administration.seeds_toolbar.light .toolbar-tray .menu-item--expanded:hover > ul > li:first-child:hover::before {
  border-right-color: transparent !important;
  border-left-color: #f2f2f2 !important;
}

html[dir=rtl] body.toolbar-fixed.light .toolbar-icon-escape-admin::before {
  background-image: url("../icons/light/back-rtl.svg");
}

html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar {
  font-family: 'Tajawal';
  left: auto;
  right: 0;
}
@media (max-width: 767px) {
  html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar a {
    padding: 8px 20px 8px 36px;
} }
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-bar .toolbar-tray {
  right: -190px;
  left: auto !important;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-bar .toolbar-tray.expanded-by-default {
  right: 55px;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar #toolbar-bar::before {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0px, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0.05) 1px, rgba(0, 0, 0, 0) 100%);
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-tray {
  margin-right: -1px;
}
@media (min-width: 768px) {
  html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-tray .menu-item--expanded > ul {
    right: 100%;
    left: auto;
} }
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-tray .menu-item--expanded.hover-intent > ul > li:first-child::before {
  left: 100%;
  right: auto;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-tray .menu-item--expanded:hover > ul > li:first-child:before {
  border-right-color: transparent !important;
  border-left-color: #4d4d4f !important;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-tray .menu-item--expanded:hover > ul > li:first-child:hover::before {
  border-right-color: transparent !important;
  border-left-color: #444 !important;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar #toolbar-bar {
  height: 100vh;
  z-index: auto;
  position: relative;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar #toolbar-bar::before {
  left: 0;
  right: auto;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a,
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button {
  margin-left: 5px;
  margin-right: 0;
  top: 0;
  left: 0;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > a::after,
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar #toolbar-bar > .toolbar-tab > button::after {
  display: none;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li.menu-item--expanded.toolbar-fixed-help-item {
  right: -190px;
  left: auto;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > a {
  padding-right: 50px !important;
  padding-left: 12px !important;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .toolbar-menu-administration > ul > li > a::before {
  right: 12px;
  left: auto;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar .seeds-expand-item {
  left: 0;
  right: auto;
}
html[dir=rtl] body.toolbar-fixed #toolbar-administration.seeds_toolbar.dark .toolbar-icon-escape-admin::before {
  background-image: url("../icons/dark/back-rtl.svg");
}
